<header class="categoryHeaderWrapper">
  <div class="categoryHeader">
    <h1 class="categoryHeaderTitle">
      {{::$ctrl.category.name}}
    </h1>
  </div>
  <div class="categoryHeaderStickyContainer">
    <div id="categoryBeginSticky"></div>
    <div class="categoryHeaderSticky" ng-hide="$ctrl.headerStickyHide">
      <div class="categoryHeaderStickyTitleContainer">
        <div class="categoryHeaderStickyTitle">
          {{::$ctrl.category.name}}
        </div>
      </div>
    </div>
  </div>
</header>

<div>
  <div ng-repeat="subject in $ctrl.subjects">
    <div class="categoryListContainer">
      <div class="categoryListContent">
        <a href="#" class="categoryListContentLink">
          <div class="categoryListIconWrapper">

            <div class="categoryListIcon" ng-style="$ctrl.subjectsStyle[subject.id]"></div>
          </div>
          <div class="categoryListInfo">
            <h3 class="categoryListTitle">{{::subject.name}}</h3>
            <div class="categoryListInfoContent">{{::subject.introduction}}</div>
          </div>
        </a>
        <div class="categoryListSpacer"></div>
        <div class="categoryListItemLink">
          <div class="categoryAContainer" ng-repeat="class in $ctrl.classes[subject.id]">
            <a href="#" class="categoryA">
              <span class="categoryListNumber">
                {{::class.id}}、
              </span>
              {{::class.name}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="categoryCenteredContainer">
      <div class="categoryCentered"></div>
    </div>
  </div>
</div>
