div[class^='originFont-'], [class*=' originFont-'] {
  margin: auto;
  width: 43px;
  height: 75px;
  background-image: url(../data/alphabet/origin/images/alpha-white.png);
  background-size: 1500px 670px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

div[class*='-3'] {
  height: 100px !important;
}

.originFont-a {
  background-position: -130px -45px;
}
.originFont-e {
  background-position: -125px -130px;
}
.originFont-i {
  background-position: -128px -210px;
}
.originFont-o,.originFont-o2 {
  background-position: -127px -280px;
}
.originFont-u,.originFont-u2 {
  background-position: -127px -410px;
}

.originFont-na,.originFont-ne {
  background-position: -210px -45px;
}
.originFont-ni {
  background-position: -205px -208px;
}
.originFont-no,.originFont-no2 {
  background-position: -205px -280px;
}
.originFont-nu,.originFont-nu2 {
  background-position: -205px -410px;
}

.originFont-ba,.originFont-be {
  background-position: -280px -47px;
}
.originFont-bi {
  background-position: -285px -210px;
}
.originFont-bo,.originFont-bo2  {
  background-position: -285px -280px;
}
.originFont-bu,.originFont-bu2 {
  background-position: -285px -405px;
}

.originFont-pa,.originFont-pe {
  background-position: -357px -47px;
}
.originFont-pi {
  background-position: -363px -210px;
}
.originFont-po,.originFont-po2  {
  background-position: -363px -280px;
}
.originFont-pu,.originFont-pu2 {
  background-position: -363px -405px;
}

.originFont-ha {
  background-position: -443px -47px;
}
.originFont-he {
  background-position: -435px -135px;
}
.originFont-hi {
  background-position: -443px -210px;
}
.originFont-ho,.originFont-ho2  {
  background-position: -440px -280px;
}
.originFont-hu,.originFont-hu2 {
  background-position: -440px -405px;
}

.originFont-ga {
  background-position: -520px -47px;
}
.originFont-ge {
  background-position: -435px -135px;
}
.originFont-gi {
  background-position: -520px -210px;
}
.originFont-go,.originFont-go2  {
  background-position: -517px -280px;
}
.originFont-gu,.originFont-gu2 {
  background-position: -517px -405px;
}

.originFont-ma,.originFont-me {
  background-position: -600px -47px;
}
.originFont-mi {
  background-position: -595px -213px;
}
.originFont-mo,.originFont-mo2 {
  background-position: -598px -280px;
}
.originFont-mu,.originFont-mu2 {
  background-position: -598px -410px;
}

.originFont-la,.originFont-le {
  background-position: -678px -47px;
}
.originFont-li {
  background-position: -678px -213px;
}
.originFont-lo,.originFont-lo2 {
  background-position: -679px -280px;
}
.originFont-lu,.originFont-lu2 {
  background-position: -679px -410px;
}

.originFont-sa,.originFont-se {
  background-position: -758px -47px;
}
.originFont-si {
  background-position: -758px -213px;
}
.originFont-so,.originFont-so2 {
  background-position: -754px -280px;
}
.originFont-su,.originFont-su2 {
  background-position: -754px -410px;
}

.originFont-sha,.originFont-she {
  background-position: -835px -47px;
}
.originFont-shi {
  background-position: -835px -213px;
}
.originFont-sho,.originFont-sho2 {
  background-position: -836px -280px;
}
.originFont-shu,.originFont-shu2 {
  background-position: -836px -410px;
}

.originFont-ta,.originFont-te {
  background-position: -913px -47px;
}
.originFont-ti {
  background-position: -908px -213px;
}
.originFont-to,.originFont-to2 {
  background-position: -908px -280px;
}
.originFont-tu,.originFont-tu2 {
  background-position: -908px -410px;
}

.originFont-da,.originFont-de {
  background-position: -985px -47px;
}
.originFont-di {
  background-position: -980px -213px;
}
.originFont-do,.originFont-do2 {
  background-position: -980px -280px;
}
.originFont-du,.originFont-du2 {
  background-position: -980px -410px;
}

.originFont-cha,.originFont-che {
  background-position: -1065px -47px;
}
.originFont-chi {
  background-position: -1063px -213px;
}
.originFont-cho,.originFont-cho2 {
  background-position: -1062px -280px;
}
.originFont-chu,.originFont-chu2 {
  background-position: -1062px -410px;
}

.originFont-zha,.originFont-zhe {
  background-position: -1145px -47px;
}
.originFont-zhi {
  background-position: -1143px -213px;
}
.originFont-zho,.originFont-zho2 {
  background-position: -1142px -280px;
}
.originFont-zhu,.originFont-zhu2 {
  background-position: -1142px -410px;
}

.originFont-ya,.originFont-ye {
  background-position: -1223px -47px;
}
.originFont-yi {
  background-position: -1216px -213px;
}
.originFont-yo,.originFont-yo2 {
  background-position: -1216px -280px;
}
.originFont-yu,.originFont-yu2 {
  background-position: -1216px -410px;
}

.originFont-ra {
  background-position: -1300px -47px;
}
.originFont-ra,.originFont-re {
  background-position: -1300px -47px;
}
.originFont-ri {
  background-position: -1293px -213px;
}
.originFont-ro,.originFont-ro2 {
  background-position: -1293px -280px;
}
.originFont-ru,.originFont-ru2 {
  background-position: -1293px -410px;
}

.originFont-wa, .originFont-we {
  background-position: -1378px -47px;
}

div[class*="-1"],div[class*="-2"],div[class*="-3"] {
  background-size: 1300px 776px;  
}

div[class*='-a-'],div[class*='-e-'],div[class*='-i-'],
div[class*='-o-'],div[class*='-o2-'],div[class*='-u-'],div[class*='-u2-'],
div[class*='-na-'],div[class*='-ne-'],div[class*='-ni-'],
div[class*='-no-'],div[class*='-no2-'],div[class*='-nu-'],div[class*='-nu2-'] {
  background-image: url(../data/alphabet/variant/images/a-na-black.png);
}

.originFont-a-1 {
  background-position: -125px -50px;
}
.originFont-a-2 {
  background-position: -125px -280px;
}
.originFont-a-3 {
  background-position: -130px -590px;
}
.originFont-e-1 {
  background-position: -205px -40px;
}
.originFont-e-2 {
  background-position: -205px -285px;
}
.originFont-e-3 {
  background-position: -210px -590px;
}
.originFont-i-1 {
  background-position: -283px -50px;
}
.originFont-i-2 {
  background-position: -283px -285px;
}
.originFont-i-3 {
  background-position: -283px -580px;
}
.originFont-o-1,.originFont-o2-1, {
  background-position: -363px -50px;
}
.originFont-o-2,.originFont-o2-2, {
  background-position: -363px -285px;
}
.originFont-o-3,.originFont-o2-3, {
  background-position: -363px -580px;
}
.originFont-u-1,.originFont-u2-1, {
  background-position: -522px -57px;
}
.originFont-u-2,.originFont-u2-2, {
  background-position: -522px -285px;
}
.originFont-u-3,.originFont-u2-3, {
  background-position: -522px -580px;
}

div[class*='na-3'],div[class*='ne-3'],div[class*='ni-3'],
div[class*='no-3'],div[class*='no2-3'],div[class*='nu-3'],div[class*='nu2-3'] {
  height: 170px !important;
}

.originFont-na-1,.originFont-ne-1 {
  background-position: -765px -50px;
}
.originFont-na-2,.originFont-ne-2 {
  background-position: -765px -280px;
}
.originFont-na-3,.originFont-ne-3 {
  background-position: -763px -600px;
}
.originFont-ni-1 {
  background-position: -843px -50px;
}
.originFont-ni-2 {
  background-position: -843px -285px;
}
.originFont-ni-3 {
  background-position: -843px -580px;
}
.originFont-no-1,.originFont-no2-1, {
  background-position: -922px -50px;
}
.originFont-no-2,.originFont-no2-2, {
  background-position: -922px -290px;
}
.originFont-no-3,.originFont-no2-3, {
  background-position: -922px -580px;
}
.originFont-nu-1,.originFont-nu2-1, {
  background-position: -1082px -57px;
}
.originFont-nu-2,.originFont-nu2-2, {
  background-position: -1082px -285px;
}
.originFont-nu-3,.originFont-nu2-3, {
  background-position: -1082px -580px;
}

div[class*='-ba-'],div[class*='-be-'],div[class*='-bi-'],
div[class*='-bo-'],div[class*='-bo2-'],div[class*='-bu-'],div[class*='-bu2-'],
div[class*='-pa-'],div[class*='-pe-'],div[class*='-pi-'],
div[class*='-po-'],div[class*='-po2-'],div[class*='-pu-'],div[class*='-pu2-'] {
  background-image: url(../data/alphabet/variant/images/ba-pa-black.png);
}

.originFont-ba-1,.originFont-be-1 {
  background-position: -113px -45px;
}
.originFont-ba-2,.originFont-be-2 {
  background-position: -113px -300px;
}
.originFont-ba-3,.originFont-be-3 {
  background-position: -110px -595px;
}
.originFont-bi-1 {
  background-position: -273px -45px;
}
.originFont-bi-2 {
  background-position: -273px -295px;
}
.originFont-bi-3 {
  background-position: -273px -595px;
}
.originFont-bo-1,.originFont-bo2-1, {
  background-position: -350px -45px;
}
.originFont-bo-2,.originFont-bo2-2, {
  background-position: -350px -290px;
}
.originFont-bo-3,.originFont-bo2-3, {
  background-position: -350px -600px;
}
.originFont-bu-1,.originFont-bu2-1, {
  background-position: -512px -50px;
}
.originFont-bu-2,.originFont-bu2-2, {
  background-position: -512px -295px;
}
.originFont-bu-3,.originFont-bu2-3, {
  background-position: -512px -600px;
}

.originFont-pa-1,.originFont-pe-1 {
  background-position: -673px -45px;
}
.originFont-pa-2,.originFont-pe-2 {
  background-position: -673px -300px;
}
.originFont-pa-3,.originFont-pe-3 {
  background-position: -674px -595px;
}
.originFont-pi-1 {
  background-position: -833px -45px;
}
.originFont-pi-2 {
  background-position: -833px -295px;
}
.originFont-pi-3 {
  background-position: -833px -590px;
}
.originFont-po-1,.originFont-po2-1, {
  background-position: -910px -45px;
}
.originFont-po-2,.originFont-po2-2, {
  background-position: -910px -290px;
}
.originFont-po-3,.originFont-po2-3, {
  background-position: -910px -590px;
}
.originFont-pu-1,.originFont-pu2-1, {
  background-position: -1072px -50px;
}
.originFont-pu-2,.originFont-pu2-2, {
  background-position: -1072px -295px;
}
.originFont-pu-3,.originFont-pu2-3, {
  background-position: -1072px -590px;
}

div[class*='-ha-'],div[class*='-he-'],div[class*='-hi-'],
div[class*='-ho-'],div[class*='-ho2-'],div[class*='-hu-'],div[class*='-hu2-'],
div[class*='-ga-'],div[class*='-ge-'],div[class*='-gi-'],
div[class*='-go-'],div[class*='-go2-'],div[class*='-gu-'],div[class*='-gu2-'] {
  background-image: url(../data/alphabet/variant/images/ha-ga-black.png);
}

.originFont-ha-1 {
  background-position: -105px -50px;
}
.originFont-ha-2 {
  background-position: -105px -290px;
}
.originFont-ha-3 {
  background-position: -105px -595px;
}
.originFont-he-1 {
  background-position: -190px -50px;
}
.originFont-he-2 {
  background-position: -190px -295px;
}
.originFont-he-3 {
  background-position: -185px -590px;
}
.originFont-hi-1 {
  background-position: -270px -47px;
}
.originFont-hi-2 {
  background-position: -270px -290px;
}
.originFont-hi-3 {
  background-position: -270px -590px;
}
.originFont-ho-1,.originFont-ho2-1, {
  background-position: -348px -50px;
}
.originFont-ho-2,.originFont-ho2-2, {
  background-position: -348px -300px;
}
.originFont-ho-3,.originFont-ho2-3, {
  background-position: -348px -590px;
}
.originFont-hu-1,.originFont-hu2-1, {
  background-position: -510px -50px;
}
.originFont-hu-2,.originFont-hu2-2, {
  background-position: -510px -295px;
}
.originFont-hu-3,.originFont-hu2-3, {
  background-position: -510px -590px;
}

.originFont-ga-1 {
  background-position: -665px -45px;
}
.originFont-ga-2 {
  background-position: -665px -290px;
}
.originFont-ga-3 {
  background-position: -665px -595px;
}
.originFont-ge-1 {
  background-position: -750px -45px;
}
.originFont-ge-2 {
  background-position: -750px -295px;
}
.originFont-ge-3 {
  background-position: -745px -590px;
}
.originFont-gi-1 {
  background-position: -830px -45px;
}
.originFont-gi-2 {
  background-position: -830px -290px;
}
.originFont-gi-3 {
  background-position: -830px -590px;
}
.originFont-go-1,.originFont-go2-1, {
  background-position: -905px -50px;
}
.originFont-go-2,.originFont-go2-2, {
  background-position: -905px -295px;
}
.originFont-go-3,.originFont-go2-3, {
  background-position: -905px -590px;
}
.originFont-gu-1,.originFont-gu2-1, {
  background-position: -1065px -50px;
}
.originFont-gu-2,.originFont-gu2-2, {
  background-position: -1065px -295px;
}
.originFont-gu-3,.originFont-gu2-3, {
  background-position: -1065px -590px;
}

div[class*='-ma-'],div[class*='-me-'],div[class*='-mi-'],
div[class*='-mo-'],div[class*='-mo2-'],div[class*='-mu-'],div[class*='-mu2-'],
div[class*='-la-'],div[class*='-le-'],div[class*='-li-'],
div[class*='-lo-'],div[class*='-lo2-'],div[class*='-lu-'],div[class*='-lu2-'] {
  background-image: url(../data/alphabet/variant/images/ma-la-black.png);
}

div[class*='ma-3'],div[class*='me-3'],div[class*='mi-3'],
div[class*='mo-3'],div[class*='mo2-3'],div[class*='mu-3'],div[class*='mu2-3'] {
  height: 170px !important;
}

.originFont-ma-1,.originFont-me-1 {
  background-position: -105px -50px;
}
.originFont-ma-2,.originFont-me-2 {
  background-position: -105px -280px;
}
.originFont-ma-3,.originFont-me-3 {
  background-position: -105px -590px;
}
.originFont-mi-1 {
  background-position: -266px -50px;
}
.originFont-mi-2 {
  background-position: -266px -285px;
}
.originFont-mi-3 {
  background-position: -266px -580px;
}
.originFont-mo-1,.originFont-mo2-1, {
  background-position: -347px -50px;
}
.originFont-mo-2,.originFont-mo2-2, {
  background-position: -347px -290px;
}
.originFont-mo-3,.originFont-mo2-3, {
  background-position: -347px -580px;
}
.originFont-mu-1,.originFont-mu2-1, {
  background-position: -509px -60px;
}
.originFont-mu-2,.originFont-mu2-2, {
  background-position: -509px -290px;
}
.originFont-mu-3,.originFont-mu2-3, {
  background-position: -509px -580px;
}

div[class*='la-3'],div[class*='le-3'],div[class*='li-3'],
div[class*='lo-3'],div[class*='lo2-3'],div[class*='lu-3'],div[class*='lu2-3'] {
  height: 170px !important;
}

.originFont-la-1,.originFont-le-1 {
  background-position: -665px -50px;
}
.originFont-la-2,.originFont-le-2 {
  background-position: -665px -290px;
}
.originFont-la-3,.originFont-le-3 {
  background-position: -665px -595px;
}
.originFont-li-1 {
  background-position: -828px -50px;
}
.originFont-li-2 {
  background-position: -828px -290px;
}
.originFont-li-3 {
  background-position: -828px -595px;
}
.originFont-lo-1,.originFont-lo2-1, {
  background-position: -905px -50px;
}
.originFont-lo-2,.originFont-lo2-2, {
  background-position: -905px -290px;
}
.originFont-lo-3,.originFont-lo2-3, {
  background-position: -905px -590px;
}
.originFont-lu-1,.originFont-lu2-1, {
  background-position: -1065px -55px;
}
.originFont-lu-2,.originFont-lu2-2, {
  background-position: -1065px -290px;
}
.originFont-lu-3,.originFont-lu2-3, {
  background-position: -1065px -590px;
}

div[class*='-sa-'],div[class*='-se-'],div[class*='-si-'],
div[class*='-so-'],div[class*='-so2-'],div[class*='-su-'],div[class*='-su2-'],
div[class*='-sha-'],div[class*='-she-'],div[class*='-shi-'],
div[class*='-sho-'],div[class*='-sho2-'],div[class*='-shu-'],div[class*='-shu2-'] {
  background-image: url(../data/alphabet/variant/images/sa-sha-black.png);
}

.originFont-sa-1,.originFont-se-1 {
  background-position: -108px -50px;
}
.originFont-sa-2,.originFont-se-2 {
  background-position: -108px -300px;
}
.originFont-sa-3,.originFont-se-3 {
  background-position: -108px -595px;
}
.originFont-si-1 {
  background-position: -266px -50px;
}
.originFont-si-2 {
  background-position: -266px -300px;
}
.originFont-si-3 {
  background-position: -266px -590px;
}
.originFont-so-1,.originFont-so2-1, {
  background-position: -345px -55px;
}
.originFont-so-2,.originFont-so2-2, {
  background-position: -345px -300px;
}
.originFont-so-3,.originFont-so2-3, {
  background-position: -345px -590px;
}
.originFont-su-1,.originFont-su2-1, {
  background-position: -505px -60px;
}
.originFont-su-2,.originFont-su2-2, {
  background-position: -505px -300px;
}
.originFont-su-3,.originFont-su2-3, {
  background-position: -505px -590px;
}

.originFont-sha-1,.originFont-she-1 {
  background-position: -668px -50px;
}
.originFont-sha-2,.originFont-she-2 {
  background-position: -668px -300px;
}
.originFont-sha-3,.originFont-she-3 {
  background-position: -668px -595px;
}
.originFont-shi-1 {
  background-position: -830px -50px;
}
.originFont-shi-2 {
  background-position: -830px -300px;
}
.originFont-shi-3 {
  background-position: -830px -595px;
}
.originFont-sho-1,.originFont-sho2-1, {
  background-position: -910px -50px;
}
.originFont-sho-2,.originFont-sho2-2, {
  background-position: -910px -300px;
}
.originFont-sho-3,.originFont-sho2-3, {
  background-position: -910px -598px;
}
.originFont-shu-1,.originFont-shu2-1, {
  background-position: -1070px -60px;
}
.originFont-shu-2,.originFont-shu2-2, {
  background-position: -1070px -300px;
}
.originFont-shu-3,.originFont-shu2-3, {
  background-position: -1070px -600px;
}

div[class*='-ta-'],div[class*='-te-'],div[class*='-ti-'],
div[class*='-to-'],div[class*='-to2-'],div[class*='-tu-'],div[class*='-tu2-'],
div[class*='-da-'],div[class*='-de-'],div[class*='-di-'],
div[class*='-do-'],div[class*='-do2-'],div[class*='-du-'],div[class*='-du2-'] {
  background-image: url(../data/alphabet/variant/images/ta-da-black.png);
}

.originFont-ta-1,.originFont-te-1 {
  background-position: -115px -50px;
}
.originFont-ta-2,.originFont-te-2 {
  background-position: -115px -300px;
}
.originFont-ta-3,.originFont-te-3 {
  background-position: -115px -595px;
}
.originFont-ti-1 {
  background-position: -275px -50px;
}
.originFont-ti-2 {
  background-position: -275px -300px;
}
.originFont-ti-3 {
  background-position: -275px -595px;
}
.originFont-to-1,.originFont-to2-1, {
  background-position: -353px -50px;
}
.originFont-to-2,.originFont-to2-2, {
  background-position: -353px -300px;
}
.originFont-to-3,.originFont-to2-3, {
  background-position: -353px -595px;
}
.originFont-tu-1,.originFont-tu2-1, {
  background-position: -515px -60px;
}
.originFont-tu-2,.originFont-tu2-2, {
  background-position: -515px -300px;
}
.originFont-tu-3,.originFont-tu2-3, {
  background-position: -515px -595px;
}

.originFont-da-1,.originFont-de-1 {
  background-position: -673px -50px;
}
.originFont-da-2,.originFont-de-2 {
  background-position: -673px -300px;
}
.originFont-da-3,.originFont-de-3 {
  background-position: -670px -595px;
}
.originFont-di-1 {
  background-position: -830px -50px;
}
.originFont-di-2 {
  background-position: -830px -300px;
}
.originFont-di-3 {
  background-position: -830px -595px;
}
.originFont-do-1,.originFont-do2-1, {
  background-position: -910px -50px;
}
.originFont-do-2,.originFont-do2-2, {
  background-position: -910px -300px;
}
.originFont-do-3,.originFont-do2-3, {
  background-position: -910px -595px;
}
.originFont-du-1,.originFont-du2-1, {
  background-position: -1070px -60px;
}
.originFont-du-2,.originFont-du2-2, {
  background-position: -1070px -300px;
}
.originFont-du-3,.originFont-du2-3, {
  background-position: -1070px -595px;
}

div[class*='-cha-'],div[class*='-che-'],div[class*='-chi-'],
div[class*='-cho-'],div[class*='-cho2-'],div[class*='-chu-'],div[class*='-chu2-'],
div[class*='-zha-'],div[class*='-zhe-'],div[class*='-zhi-'],
div[class*='-zho-'],div[class*='-zho2-'],div[class*='-zhu-'],div[class*='-zhu2-'] {
  background-image: url(../data/alphabet/variant/images/cha-zha-black.png);
}

.originFont-cha-1,.originFont-che-1 {
  background-position: -119px -50px;
}
.originFont-cha-2,.originFont-che-2 {
  background-position: -119px -300px;
}
.originFont-cha-3,.originFont-che-3 {
  background-position: -119px -595px;
}
.originFont-chi-1 {
  background-position: -276px -50px;
}
.originFont-chi-2 {
  background-position: -276px -300px;
}
.originFont-chi-3 {
  background-position: -276px -595px;
}
.originFont-cho-1,.originFont-cho2-1, {
  background-position: -355px -50px;
}
.originFont-cho-2,.originFont-cho2-2, {
  background-position: -355px -300px;
}
.originFont-cho-3,.originFont-cho2-3, {
  background-position: -355px -595px;
}
.originFont-chu-1,.originFont-chu2-1, {
  background-position: -515px -60px;
}
.originFont-chu-2,.originFont-chu2-2, {
  background-position: -515px -300px;
}
.originFont-chu-3,.originFont-chu2-3, {
  background-position: -515px -595px;
}

.originFont-zha-1,.originFont-zhe-1 {
  background-position: -678px -50px;
}
.originFont-zha-2,.originFont-zhe-2 {
  background-position: -678px -300px;
}
.originFont-zha-3,.originFont-zhe-3 {
  background-position: -678px -595px;
}
.originFont-zhi-1 {
  background-position: -835px -50px;
}
.originFont-zhi-2 {
  background-position: -835px -300px;
}
.originFont-zhi-3 {
  background-position: -835px -595px;
}
.originFont-zho-1,.originFont-zho2-1, {
  background-position: -915px -50px;
}
.originFont-zho-2,.originFont-zho2-2, {
  background-position: -915px -300px;
}
.originFont-zho-3,.originFont-zho2-3, {
  background-position: -915px -595px;
}
.originFont-zhu-1,.originFont-zhu2-1, {
  background-position: -1075px -55px;
}
.originFont-zhu-2,.originFont-zhu2-2, {
  background-position: -1075px -300px;
}
.originFont-zhu-3,.originFont-zhu2-3, {
  background-position: -1075px -595px;
}

div[class*='-ya-'],div[class*='-ye-'],div[class*='-yi-'],
div[class*='-yo-'],div[class*='-yo2-'],div[class*='-yu-'],div[class*='-yu2-'],
div[class*='-ra-'],div[class*='-re-'],div[class*='-ri-'],
div[class*='-ro-'],div[class*='-ro2-'],div[class*='-ru-'],div[class*='-ru2-'],
div[class*='-wa-'],div[class*='-we-'] {
  background-image: url(../data/alphabet/variant/images/ya-ra-black.png);
}

div[class*='ya-3'],div[class*='ye-3'],div[class*='yi-3'],
div[class*='yo-3'],div[class*='yo2-3'],div[class*='yu-3'],div[class*='yu2-3'] {
  height: 160px !important;
}

.originFont-ya-1,.originFont-ye-1 {
  background-position: -115px -60px;
}
.originFont-ya-2,.originFont-ye-2 {
  background-position: -115px -300px;
}
.originFont-ya-3,.originFont-ye-3 {
  background-position: -115px -600px;
}
.originFont-yi-1 {
  background-position: -273px -60px;
}
.originFont-yi-2 {
  background-position: -273px -300px;
}
.originFont-yi-3 {
  background-position: -273px -593px;
}
.originFont-yo-1,.originFont-yo2-1, {
  background-position: -353px -60px;
}
.originFont-yo-2,.originFont-yo2-2, {
  background-position: -353px -300px;
}
.originFont-yo-3,.originFont-yo2-3, {
  background-position: -353px -595px;
}
.originFont-yu-1,.originFont-yu2-1, {
  background-position: -513px -60px;
}
.originFont-yu-2,.originFont-yu2-2, {
  background-position: -513px -300px;
}
.originFont-yu-3,.originFont-yu2-3, {
  background-position: -513px -595px;
}

div[class*='ra-3'],div[class*='re-3'],div[class*='ri-3'],
div[class*='ro-3'],div[class*='ro2-3'],div[class*='ru-3'],div[class*='ru2-3'] {
  height: 170px !important;
}

.originFont-ra-1,.originFont-re-1 {
  background-position: -675px -60px;
}
.originFont-ra-2,.originFont-re-2 {
  background-position: -675px -300px;
}
.originFont-ra-3,.originFont-re-3 {
  background-position: -675px -595px;
}
.originFont-ri-1 {
  background-position: -835px -60px;
}
.originFont-ri-2 {
  background-position: -835px -295px;
}
.originFont-ri-3 {
  background-position: -835px -595px;
}
.originFont-ro-1,.originFont-ro2-1, {
  background-position: -915px -60px;
}
.originFont-ro-2,.originFont-ro2-2, {
  background-position: -915px -300px;
}
.originFont-ro-3,.originFont-ro2-3, {
  background-position: -915px -595px;
}
.originFont-ru-1,.originFont-ru2-1, {
  background-position: -1075px -60px;
}
.originFont-ru-2,.originFont-ru2-2, {
  background-position: -1075px -300px;
}
.originFont-ru-3,.originFont-ru2-3, {
  background-position: -1075px -595px;
}

div[class*='wa-3'],div[class*='we-3'] {
  height: 160px !important;
}

.originFont-wa-1,.originFont-we-1 {
  background-position: -40px -60px;
}
.originFont-wa-2,.originFont-we-2 {
  background-position: -40px -300px;
}
.originFont-wa-3 {
  background-position: -40px -600px;
}
.originFont-we-3 {
  background-position: -2528px -600px;
}
