* {
  margin: 0;
  padding: 0;
  font-family: 宋体;
}

nav i,
nav .col {
  height: 55px;
  line-height: 55px;
}

nav .brand-logo {
  position: relative !important;
  font-size: 22px !important;
  height: 56px !important;
}

#appHeader > nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.parallax-container {
  min-height: 380px !important;
  line-height: 0 !important;
  color: rgba(255,255,255,1) !important;
}

.parallax-container .section {
  width: 100% !important;
}

.md-18 {font-size: 18px !important;}

.md-24 {font-size: 24px !important;}

.md-36 {font-size: 36px !important;}

.md-48 {font-size: 48px !important;}

@media only screen and (min-width: 601px) {
  nav i,
  nav .col {
    height: 64px;
    line-height: 64px;
  }
}

@media only screen and (max-width: 992px) {
  #appLogo {
    text-align: left;
  }
}
