* {
  margin: 0;
  padding: 0;
  font-family: 宋体;
}

header {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  line-height: 0;
  min-height: 170px;
  text-shadow: 0 0 10px #1499af !important;
  text-align: center !important;
  color: rgba(255,255,255,1);
  background-position: center !important;
  background-size: cover !important;
  background-image: url(../images/mountains.svg) !important;
}

header nav {
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header .content {
  margin-top: 50px;
}

header .content h5{
  font-size: 18px;
  line-height: 1.5em;
}

nav i,
nav div,
nav col {
  height: 55px;
  line-height: 55px !important;
}

#appLogo {
  text-align: left;
}

#headerMenuIcon {
  margin-right: 20px;
}

.md-16 {font-size: 16px;}

.md-18 {font-size: 18px;}

.md-20 {font-size: 20px;}

.md-22 {font-size: 22px;}

.md-24 {font-size: 24px;}

.md-36 {font-size: 36px;}

.md-48 {font-size: 48px;}

@media only screen and (min-width: 601px) {
  header {
    min-height: 300px;
  }

  header .content {
    margin-top: 10px;
  }

  header .content h5{
    font-size: 24px;
    line-height: 2em;
  }

  nav i,
  nav div,
  nav col {
    height: 64px;
    line-height: 64px !important;
  }
}

@media only screen and (min-width: 992px) {
  header {
    min-height: 400px;
  }

  #appLogo {
    text-align: center;
  }
}
