* {
  margin: 0;
  padding: 0;
  font-family: 宋体;
}

.container {
  width: 100%;
}

nav i,
nav div,
nav col {
  height: 55px;
  line-height: 55px !important;
}

nav .brand-logo {
  position: relative;
  font-size: 22px;
  height: 55px;
}

#appHeader > nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  color: rgba(255,255,255,1);
}

.parallax-container .section {
  width: 100%;
}

#headerMenuIcon {
  margin-right: 20px;
}

.md-18 {font-size: 18px;}

.md-24 {font-size: 24px;}

.md-36 {font-size: 36px;}

.md-48 {font-size: 48px;}

@media only screen and (min-width: 601px) {
  nav i,
  nav div,
  nav col {
    height: 64px;
    line-height: 64px !important;
  }

  #appLogo {
    text-align: center;
  }
}
