* {
  margin: 0;
  padding: 0;
  font-family: 宋体;
  box-sizing: border-box;
}

body {
  color: #444;
  line-height: 1.4;
}

.app-container {
  position: relative;
  max-width: 1140px !important;
  margin-top: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

ol, ul {
  list-style: none;
}

hr {
  background: #CCC;
  border: 0;
  box-shadow: 0 2px 2px rgba(0,0,0,0.075);
  clear: both;
  color: #CCC;
  display: block;
  height: 1px;
  margin: 18px 0 36px 0;
  padding: 0;
  width: 100%;
}

.accentButton {
  border: 1px solid #196a7d;
  color: #fff;
  text-shadow: none;
  background-color: #1a6b7e;
  background-image: linear-gradient(to bottom,#1c758a,#165c6c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1c758a',endColorstr='#ff165c6c',GradientType=0);
  border-color: #165c6c #165c6c #09262d;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff!important;
  font-family: inherit;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.md-16 {font-size: 16px;}

.md-18 {font-size: 18px;}

.md-20 {font-size: 20px;}

.md-22 {font-size: 22px;}

.md-24 {font-size: 24px;}

.md-36 {font-size: 36px;}

.md-48 {font-size: 48px;}

ul {
   display: block !important;
}

