<header class="homeHeader">
    <h1 ng-bind-html="$ctrl.getText('welcome')"></h1>
  </div>
</header>

<div>
  <div class="divider"></div>

  <div class="homeContainer">

    <div id="{{::category.name}}" class="homeCategories" ng-repeat="category in $ctrl.jsons.categories">
      <div class="homePhoneCategories">
        <button class="homePhoneButton" ng-mouseenter="$ctrl.categoryMouseEnter(category.id)" ng-mouseleave="$ctrl.categoryMouseLeave(category.id)" ng-click="$ctrl.categoryClick($event, category.id)">
          <a href="javascript:void(0)" class="homePhoneHeader">
            <img class="homePhoneImage" ng-src="{{$ctrl.categories[category.id].image.src}}">
            <span class="homePhoneSpan" ng-style="$ctrl.categories[category.id].style">{{::category.name}}</span>
            <div class="homePhoneDropDownIcon">
              <i class="fa {{$ctrl.folderIcon[category.id].class}} fa-lg" aria-hidden="true"  ng-style="$ctrl.folderIcon[category.id].style"></i>
            </div>
          </a>
        </button>
        <div ng-style="$ctrl.categories[category.id].displaySubjects">
          <ul class="homePhoneSubjects">
            <li class="homePhoneSubject" ng-repeat="subject in $ctrl.jsons.subjects[category.id]">
              <a class="homePhoneSubjectA" href="#" ng-style="$ctrl.getSubjectsStyle($last, category.id, subject.id)" ng-mouseenter="$ctrl.subjectMouseEnter(category.id, subject.id)" ng-mouseleave="$ctrl.subjectMouseLeave(category.id, subject.id)">{{::subject.name}}</a>
            </li>
          </ul>
          <hr class="homeSeparator">
        </div>
      </div>

      <div class="homeWebCategories">
        <h2 class="homeWebCategoriesH2">
            <img class="homeWebCategoriesH2AImg" ng-src="{{$ctrl.categories[category.id].image.src}}" alt="">
        </h2>
        <ul class="homeWebCategoriesUl">
          <li class="homeWebCategoriesLi" ng-repeat="subject in $ctrl.jsons.subjects[category.id]">
            <a class="homeWebCategoriesLiA" ng-href="{{$ctrl.getSubjectUrl(category.dirName,subject.dirName)}}" ng-style="$ctrl.webSubjects[category.id][subject.id].style" ng-mouseenter="$ctrl.webSubjectMouseEnter(category.id, subject.id)" ng-mouseleave="$ctrl.webSubjectMouseLeave(category.id, subject.id)">
              {{subject.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
