.homeHeader {
  box-sizing: border-box;
  height: 166px !important;
  padding-top: 62px !important;
  background-position: center !important;
  background-size: cover !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  text-align: center !important;
  background-image: url(images/mountains.svg) !important;
}

.homeHeader h1 {
  margin-bottom: 30px !important;
  padding: 25px 20px 0 20px !important;
  color: #FFFFFF !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  text-shadow: 0 0 10px #1499af !important;
}

.homeIntroduction {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1200px;
  padding: 40px;
  font-size: 18px;
}

.divider {
  border-top: 1px solid #D6D8DA !important;
  width: 100% !important;
}

.homeNavbar {
  display: none;
  padding: 0px !important;
}

.homeContainer {
  padding: 0px !important;
}

.homeCategories {
  border: none !important;
  display: inline-block !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  width: 100% !important;
  word-wrap: break-word !important;
}

.homeCategories:first-child {
  border-top: 0 !important;
}

.homePhoneCategories {
  display: block !important;
}

.homePhoneButton {
  background: none !important;
  border: solid #D6D8DA !important;
  border-width: 0 0 1px !important;
  cursor: pointer !important;
  font-family: inherit !important;
  padding: 0px !important;
  width: 100% !important;
}

.homePhoneHeader {
  display: flex !important;
  padding: 16px !important;
  align-items: center !important;
  color: #007d96 !important;
  line-height: 1.25 !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  text-decoration: none !important;
}

.homePhoneImage{
  border-radius: 20px !important;
  height: 40px !important;
  width: 40px !important;
  margin-right: 16px !important;
}

.homePhoneSpan{
  text-align: left !important;
  padding-right: 20px !important;
}

.homePhoneDropDownIcon {
  position: absolute !important;
  line-height: 0 !important;
  right: 16px !important;
  color: #BABEC2 !important;
}

.homePhoneSubjects {
  padding-left: 72px !important;
  width: 100% !important;
}

.homePhoneSubject {
  display: block !important;
  padding-right: 0px !important;
}

.homePhoneSubjectA {
  display: block !important;
  overflow: hidden !important;
  width: 100% !important;
  padding-right: 16px !important;
  white-space: nowrap !important;
  border-bottom: 1px dashed #D6D8DA;
  line-height: 50px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-overflow: ellipsis !important;
  text-decoration: none;
  color: #626569;
}

.homeSeparator{
  border: solid #D6D8DA !important;
  border-width: 0 0 1px !important;
  box-shadow: none !important;
  height: 0px !important;
  margin: 0px !important;
}

.homeWebCategories {
  display: none !important;
}

@media screen and (min-width: 767px) {
  .homeHeader {
    line-height: 1.5 !important;
    height: 300px !important;
  }

  .homeHeader h1 {
    font-size: 25px !important;
  }

  .homeNavbar {
    padding: 12px 8px !important;
    font-size: 15px !important;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1200px !important;
  }

  .homeNavbarLi {
    display: inline-block !important;
    padding: 0 20px !important;
  }

  .homeNavbarLiA {
    cursor: pointer;
    color: #626569;
    display: inline-block !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    line-height: 48px !important;
    text-decoration: none;
  }

  .homeContainer {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    max-width: 1200px !important;
  }

  .homeCategories {
    border-top: 1px solid #D6D8DA !important;
    margin-bottom: 50px !important;
    padding-top: 50px !important;
  }

  .homePhoneCategories {
    display: none !important;
  }

  .homeWebCategories {
    display: flex !important;
  }

  .homeWebCategoriesH2 {
    min-width: 40% !important;
    box-sizing: border-box !important;
    float: left !important;
    padding-right: 32px !important;
    text-align: center;
  }

  .homeWebCategoriesH2A {
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    line-height: 1.25 !important;
    font-size: 21px !important;
    color: #21242C !important;
    font-family: inherit !important;
    font-weight: 600 !important;
    text-decoration: none !important;
  }

  .homeWebCategoriesH2AImg {
    border-radius: 31px !important;
    height: 62px !important;
    width: 62px !important;
    margin-right: 20px !important;
  }

  .homeWebCategoriesH2ASpan {
    text-align: left !important;
  }

  .homeWebCategoriesUl {
    flex-grow: 1 !important;
  }

  .homeWebCategoriesLi{
    display: inline-block !important;
    width: 204px !important;
    padding-right: 32px !important;
    vertical-align: top !important;
  }

  .homeWebCategoriesLiA{
    display: inline-block !important;
    width: 100% !important;
    line-height: 48px !important;
    font-size: 17px !important;
    font-family: inherit !important;
    font-weight: 600 !important;
    text-decoration: none;
  }
}

@media screen and (min-width: 992px) {
  .homeHeader {
    line-height: 1.75 !important;
    height: 400px !important;
  }

  .homeHeader h1 {
    font-size: 30px !important;
  }
}

@media screen and (min-width: 1024px) {
  .homeWebCategoriesH2 {
    min-width: 20% !important;
  }

  .homeWebCategoriesLi{
    width: 228px !important;
  }
}

@media screen and (min-width: 1230px) {
  .homeNavbar {
    padding: 21px 20px !important;
  }

  .homeNavbarLi {
    padding: 0 25px !important;
  }

  .homeNavbarLiA {
    font-size: 19px !important;
  }

  .homeCategories {
    margin-bottom: 50px !important;
    padding-top: 50px !important;
  }

  .homeWebCategoriesH2 {
    min-width: 25% !important;
  }

  .homeWebCategoriesH2A {
    font-size: 25px !important;
  }

  .homeWebCategoriesH2AImg {
    border-radius: 36px !important;
    height: 72px !important;
    margin-right: 20px !important;
    width: 72px !important;
  }

  .homeWebCategoriesLi{
    width: 273px !important;
  }

  .homeWebCategoriesLiA{
    font-size: 21px !important;
  }
}
