.alphabetvariant-alpha {
  height: auto;
  background-color: #f1f1f1 !important;
}

.alphabetvariant-fonts,
.alphabetvariant-fonts2 {
  margin-left: auto;
  margin-right: auto;
  background-color: #ddd;
  color: #000;
}
.alphabetvariant-fonts2 {
  background-color: #fff;
}

.alphabetvariant-fonts-none {
  display: none;
}

.alphabetvariant-content {
  overflow: auto;
  margin: 16px;
  margin-top: 0;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 100% !important;
}

.alphabetvariant-two {
  display: flex;
  justify-content: center;
}

.alphavariant-column:nth-of-type(4n - 3) {
  clear: left;
}

@media (min-width:601px) {
  .alphabetvariant-content {
    width: 80% !important;
  }

  .alphavariant-column:nth-of-type(4n - 3) {
    clear: none;
  }
}

@media (min-width:993px) {
  .alphabetvariant-content {
    width: 70% !important;
  }
}