.alphabetvariant-alpha {
  height: auto;
  background-color: #f1f1f1 !important;
}

.alphabetvariant-fonts,
.alphabetvariant-fonts-third,
.alphabetvariant-fonts-end {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #aaa;
  color: #000;
}

.alphabetvariant-fonts-third {
  border-bottom: 0 solid #fff;
}

.alphabetvariant-fonts-end {
  border-bottom: 0 solid #fff;
  border-top: 1px dashed #ccc;
}

.alphabetvariant-fonts-none {
  display: none;
}

.alphabetvariant-content {
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: auto;
  margin: 16px;
  margin-top: 0;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 100% !important;
}

@media (min-width:601px) {
  .alphabetvariant-content {
    width: 80% !important;
  }
}

@media (min-width:993px) {
  .alphabetvariant-content {
    width: 70% !important;
  }
}