.alphabetorigin-header {
  padding-top: 77px !important;
  padding-bottom: 13px !important;
  font-size: 22px;
  font-weight: bold;
}

.alphabetorigin-intro {
  margin: auto;
  width: 100%;
  margin-top: 0 !important;
  padding: 10px;
}

.alphabetorigin-name {
  padding:10px;
}

.alphabetorigin-content {
  overflow: auto;  
  margin: 16px;
  margin-top: 0;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 100% !important;
}

.alphabetorigin-view {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 42px;
  background-color: #085a9d;
  cursor: pointer;
}

.alphabetorigin-num {
  width: 100% !important;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.origin-font,
.origin-font:hover {
  width: 42px;
  height: 70px;
  color: #fff;
  font-size: 2em;
}

.origin-font:hover {
  color: rgb(221, 163, 5);
}

@media (min-width:601px) {
  .alphabetorigin-header {
    padding-top: 86px !important;
    padding-bottom: 22px !important;
    font-size: 26px;
  }

  .alphabetorigin-intro {
    padding: 20px;
  }

  .alphabetorigin-name {
    padding:20px;
  }

  .alphabetorigin-content {
    width: 60% !important;
  }
}

@media (min-width:993px) {
  .alphabetorigin-header {
    padding-top: 96px !important;
    padding-bottom: 32px !important;
    font-size: 30px;
  }

  .alphabetorigin-intro {
    padding: 30px;
  }

  .alphabetorigin-name {
    padding:25px;
  }

  .alphabetorigin-content {
    width: 50% !important;
  }
}