<ul class="mainDropDownUl" ng-mouseover="$ctrl.mainDropDownUlMouseOver($event)"  ng-mouseout="$ctrl.mainDropDownUlMouseOut($event)">
  <li ng-repeat="category in $ctrl.categories">
    <div class="mainDropDownUlDiv">
      <header class="mainDropDownHeader">
        <a href="#" class="mainDropDownHeaderA">{{category.name}}</a>
      </header>
      <ul class="mainDropDownUlDivUl">
        <li  ng-repeat="subject in $ctrl.subjects[category.id]">
          <a href="#" class="mainDropDownUlDivUlA">{{subject.name}}</a>
        </li>
      </ul>
    </div>
  </li>
</ul>
