<ul class="mainDropDownUl">
  <li ng-repeat="category in $ctrl.jsons.categories">
    <div class="mainDropDownUlDiv">
      <header class="mainDropDownHeader">
        <a ng-href="{{$ctrl.getUrl(category.dirName)}}" class="mainDropDownHeaderA" ng-style="$ctrl.categoryHover[category.id]"  ng-mouseenter="$ctrl.categoryMouseEnter(category.id)"  ng-mouseleave="$ctrl.categoryMouseLeave(category.id)">{{::category.name}}</a>
      </header>
      <ul class="mainDropDownUlDivUl">
        <li  ng-repeat="subject in $ctrl.jsons.subjects[category.id]">
          <a href="#" class="mainDropDownUlDivUlA"  ng-style="$ctrl.subjectHover[category.id][subject.id]" ng-mouseenter="$ctrl.liMouseEnter(category.id, subject.id)" ng-mouseleave="$ctrl.liMouseLeave(category.id, subject.id)">{{::subject.name}}</a>
        </li>
      </ul>
    </div>
  </li>
</ul>
