.exerciseTextContent {
  width: 100%;
}

.exerciseBodyContainer {
  margin: 50px;
  min-height: 300px;
}

.exerciseTitle,
.exerciseProblem {
  position: relative;
  float: left;
}

.exerciseProblem {
  position: relative;
  float: left;
  border-left: 1px solid #999;
}

.exercisePlay {
  position: relative;
  float: left;
}

.exerciseCenterContainer {
  display: table-cell;
  vertical-align: middle;
  height: 400px;
  text-align: center;
}

.exerciseCenter {
  display: inline-block;
  margin: 0 70px;
}

.exercisePlayIconWrapper {
  font-size: 50px;
  color: #1c758a;
}

.exercisePlayIconBack {
  width: 25px;
  height: 25px;
  background-color: #fff;
}

.exercisePlayIcon {
  position: absolute;
  overflow: visible;
  margin-top: -21px;
  margin-left: -10px;
  cursor: pointer;
}
