.exerciseTextContent {
  width: 100%;
}

.exerciseBodyContainer {
  margin: 50px;
}

.exerciseBody {
  position: relative;
  float: left;
  left: 50%;
  margin-left: -15px;
  opacity: 1;
  border: 1px solid #333;
}

.exerciseProblem {
  position: relative;
  float: left;
  left: 50%;
}
