<header class="w3-container w3-center w3-win8-taupe alphabetorigin-header">
  <div class="app-container">
    {{::$ctrl.pageLangs.name}}
  </div>
</header>

<div class="w3-container w3-margin w3-center app-container">
  <div class="w3-row w3-grayscale-min">
    <div class="w3-margin w3-padding w3-light-grey originpractice-content">

      <div class="originpractice-close-container">
        <div class="originpractice-exit" ng-click="$ctrl.exitPractice()">
          <i class="fa fa-times-circle fa-lg originpractice-close-icon" title="{{::$ctrl.pageLangs.exit}}" aria-hidden="true"></i>
          <span class="originpractice-close-back"></span>
        </div>
      </div>

      <div class="originpractice-text">
        <p>（共15个练习，每次随机显示其中之一。）</p>
        <br />
        <p>单击下面蒙古文单词参考学习，单击字母右面的空白方块输入正确的单词。</p>
      </div>

      <div class="w3-container w3-padding w3-center originpractice-alphas">
        <div class="w3-col s3">&nbsp;</div>
        <div class="w3-col s3">
          <div ng-click="$ctrl.wordClick()" class="w3-margin-top w3-margin-bottom wordbeginpractice-word-container">
            <mon-word data-origintext="{{::$ctrl.originword}}"></mon-word>
          </div>
        </div>
        <div class="w3-col s3">
          <div ng-click="$ctrl.answerClick()" class="w3-margin-top w3-margin-bottom wordbeginpractice-word-answer-container">
            <mon-word data-origintext="{{$ctrl.answerword}}"></mon-word>
          </div>
        </div>
        <div class="w3-col s3">&nbsp;</div>
      </div>

      <div class="originpractice-done" ng-show="$ctrl.allCorrect">
        <button class="w3-margin w3-btn w3-teal" ng-click="$ctrl.nextTestClick()">
          {{::$ctrl.pageLangs.nextTest}}
        </button>
      </div>

    </div>
  </div>
</div>

<app-wordplayer></app-wordplayer>