<div id="player" class="w3-modal origin-filter" ng-show="$ctrl.showAlphaOriginFilter">
  <div class="w3-modal-content">
    <header class="w3-container w3-padding w3-center w3-theme-d5">
      {{::$ctrl.title}}
    </header>

    <div class="w3-container w3-center alphabetorigin-filter">
      <div class="w3-container w3-padding w3-col s6 m6 l6">
        <button class="w3-btn w3-teal w3-card" ng-click="$ctrl.selectAllClick()">{{::$ctrl.selectAll}}</button>
      </div>
      <div class="w3-container w3-padding w3-col s6 m6 l6">
        <button class="w3-btn w3-teal w3-card" ng-click="$ctrl.okClick()">{{::$ctrl.ok}}</button>
      </div>
    </div>

    <div class="w3-container w3-margin w3-center app-container">
      <div class="w3-row w3-grayscale-min w3-center">
        <div class="w3-card w3-light-grey alphabetorigin-content">
          <div ng-repeat="alpha in $ctrl.subData" ng-click="$ctrl.alphaClick(alpha.id)" class="w3-col s4 m3 l2">
            <div class="w3-card w3-margin w3-display-container alphabetorigin-view" ng-class="$ctrl.ifAlphaSelected('css',alpha.id)">
              <div class="origin-font">
                <mon-word data-origintext="{{::$ctrl.getAlphaText(alpha.name)}}"></mon-word>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>