.footerFooter {
  z-index: 10 !important;
  position: relative !important;
  clear: both !important;
  padding: 12px 20px !important;
  background-color: #314453 !important;
  color: #FFFFFF !important;
}

.footerContainer {
  position: relative !important;
  margin: 0 auto !important;
  padding: 0 !important;
  max-width: 1200px !important;
}

.footerMainBlock {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  padding-bottom: 40px !important;
}

.footerMissionAndLanguage {
  display: flex !important;
  flex-direction: column !important;
  padding-top: 20px !important;
  padding-right: 0px !important;
  padding-bottom: 40px !important;
  width: auto !important;
  height: auto !important;
}

.footerMissionParagraph {
  margin: 0 auto !important;
  max-width: 440px !important;
  line-height: 30px !important;
  font-size: 18px !important;
}

.footerMissionSpacer {
  margin: 0px !important;
  height: 1em !important;
  line-height: 30px !important;
  font-size: 20px !important;
}

.footerMainLink {
  position: relative !important;
  flex-grow: 1 !important;
  column-count: 2 !important;
}

.footerMainLinkUl {
  -moz-column-break-inside: avoid !important;
  -webkit-column-break-inside: avoid !important;
  padding-bottom: 32px !important;
}

.footerMainLinkUlLiHeader{
  padding-right: 8px !important;
  height: 32px !important;
  line-height: 16px !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.footerMainLinkUlLi{
  padding-right: 8px !important;
  height: 32px !important;
  font-size: 14px !important;
}

.footerBottomBlock {
  display: flex !important;
  flex-direction: column !important;
  border-top: 1px solid #DDDDDD !important;
  padding: 8px 0 !important;
  padding-top: 20px !important;
  justify-content: center !important;
  align-items: center !important;
  line-height: 16px !important;
  font-size: 14px !important;
}

.footerRights {
  margin-top: 6px !important;
  line-height: 1.5 !important;
}

.footerGrow {
  flex-grow: 1 !important;
}

.footerSocialMedia {
  margin-top: 20px !important;
  padding-right: 0;
}

.footerSocialMediaA {
  color: #FFFFFF !important;
  opacity: 0.6 !important;
}

@media only screen and (min-width: 767px) {
  .footerContainer {
    padding: 0 20px !important;
  }

  .footerMainBlock {
    flex-direction: row !important;
    padding: 36px 0 20px !important;
  }

  .footerMissionAndLanguage {
    padding-top: 0 !important;
    padding-right: 100px !important;
    height: 100% !important;
    width: 40% !important;
  }

  .footerMissionParagraph {
    margin: 0 !important;
  }

  .footerMainLink {
    column-count: 3 !important;
  }

  .footerBottomBlock {
    padding-top: 8px !important;
    flex-direction: row !important;
  }

  .footerRights {
    margin-top: 0 !important;
    line-height: 1 !important;
  }

  .footerSocialMedia {
    margin-top: 0 !important;
    padding-right: 6px;
  }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
