<div>
  <footer class="footerFooter">
    <div class="footerContainer">
      <div class="footerMainBlock">
        <div class="footerMissionAndLanguage">
          <p class="footerMissionParagraph">{{::$ctrl.jsons.footer[4].content}}</p>
          <p class="footerMissionSpacer"></p>
          <p class="footerMissionParagraph">{{::$ctrl.jsons.footer[5].content}}</p>
        </div>
        <div class="footerMainLink">
          <ul class="footerMainLinkUl">
            <li class="footerMainLinkUlLiHeader">{{::$ctrl.jsons.footer[1].content}}</li>
            <li class="footerMainLinkUlLi" ng-repeat="item in $ctrl.jsons.about">{{::item.name}}</li>
          </ul>
          <ul class="footerMainLinkUl">
            <li class="footerMainLinkUlLiHeader">{{::$ctrl.jsons.footer[2].content}}</li>
            <li class="footerMainLinkUlLi" ng-repeat="cont in $ctrl.jsons.contacts">{{::cont.name}}</li>
          </ul>
          <ul class="footerMainLinkUl">
            <li class="footerMainLinkUlLiHeader">{{::$ctrl.jsons.footer[3].content}}</li>
            <li class="footerMainLinkUlLi" ng-repeat="category in $ctrl.jsons.categories">{{::category.name}}</li>
          </ul>
        </div>
      </div>
      <div class="footerBottomBlock">
        <div class="footerRights">{{::$ctrl.jsons.footer[6].content}}</div>
        <div class="footerGrow"></div>
        <div class="footerSocialMedia">
          <a href="#" class="footerSocialMediaA">
            <img src="images/weixin.png" alt="{{::$ctrl.jsons.footer[7].content}}"　title="{{::$ctrl.jsons.footer[7].content}}" width="28px" height="22px">
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
