<header class="w3-container w3-center w3-brown alphabetorigin-header">
  {{::$ctrl.jsonData[0].name}}
</header>

<div class="w3-container w3-margin w3-center app-container">

  <div class="w3-container w3-margin w3-center alphabetorigin-intro">
    <button class="w3-btn w3-teal w3-card">{{::$ctrl.jsonData[0].introduction}}</button>
  </div>

  <div ng-repeat="alpha in $ctrl.subData" class="w3-row w3-grayscale-min w3-center">
    <div class="w3-card w3-light-grey alphabetorigin-content">
      <div ng-repeat="vowel in alpha.vowel" class="alpha-col s4 m3 l1">
        <div class="w3-card w3-margin alphabetorigin-view">
          <div class="alphabetorigin-num">{{vowel.id}}</div>
          <div class="origin-{{::vowel.name}}"></div>
        </div>
      </div>
    </div>
  </div>
</div>