.mobileContentContainer {
  background: #EFEFEF !important;
  height: calc(100vh - 61px) !important;
  overflow-y: scroll !important;
}

.mobileContentLi {
  background: #FAFAFA !important;
  border-bottom: 1px solid #DDDDDD !important;
}

.mobileContentLiA1 {
  color: #FFFFFF !important;
  display: block !important;
  font-size: 16px !important;
  font-weight: normal !important;
  padding: 13px 0 !important;
  text-decoration: none;
  background-color: #71B307 !important;
  text-align: center !important;
}

.mobileContentLiA {
  color: #007d96;
  cursor: pointer !important;
  display: flex !important;
  font-size: 16px !important;
  font-weight: bold !important;
  padding: 16px !important;
  text-decoration: none;
  align-items: center !important;
  justify-content: space-between !important;
}

.mobileSubjectList {}

.mobileSubjectListA1 {
  padding-top: 0px !important;
}

.mobileSubjectListA {
  display: block !important;
  font-size: 15px !important;
  padding: 13px 16px;
  color: #3B3E40;
  text-decoration: none !important;
}

.mobileContentAbout{
  color: #444444 !important;
  cursor: pointer !important;
  display: block !important;
  font-size: 16px !important;
  font-weight: normal !important;
  padding: 10px 20px !important;
  text-decoration: none;
  text-align: center !important;
}

.mobileContentLiDiv {
  color: #999 !important;
  line-height: 1 !important;
}

@media only screen and (min-width: 767px) {

  .mobileDropDown {
    display: none !important;
  }

}
