<div class="mobileContentContainer">
  <ul>
    <li class="mobileContentLi">
      <a subjectId="0" href="#" class="mobileContentLiA1" ng-style="$ctrl.registerHover"  ng-mouseenter="$ctrl.registerMouseEnter()"  ng-mouseleave="$ctrl.registerMouseLeave()">
        登录&nbsp;/&nbsp;注册
      </a>
    </li>

    <li ng-repeat="category in $ctrl.jsons.categories" class="mobileContentLi">
      <a href="#" class="mobileContentLiA" ng-style="$ctrl.categoryHover[category.id]"  ng-mouseenter="$ctrl.categoryMouseEnter(category.id)"  ng-mouseleave="$ctrl.categoryMouseLeave(category.id)" ng-click="$ctrl.categoryClick(category.id)">
        {{category.name}}
        <div class="mobileContentLiDiv">
          <i class="fa {{$ctrl.folderIcon[category.id]}} fa-lg" aria-hidden="true"  ng-style="$ctrl.folderIconStyle[category.id]"></i>
        </div>
      </a>
      <span ng-style="$ctrl.subjectsHover[category.id]">
        <ul>
          <li ng-repeat="subject in $ctrl.jsons.subjects[category.id]" class="mobileSubjectList">
            <a  href="#" class="mobileSubjectListA" ng-style="$ctrl.subjectHover[category.id][subject.id]" ng-mouseenter="$ctrl.subjectMouseEnter(category.id, subject.id)" ng-mouseleave="$ctrl.subjectMouseLeave(category.id, subject.id)">{{subject.name}}</a>
          </li>
        </ul>
      </span>
    </li>

    <li class="mobileContentLi">
      <a subjectId="-1" href="#" class="mobileContentAbout"  ng-style="$ctrl.aboutHover"  ng-mouseenter="$ctrl.aboutMouseEnter()"  ng-mouseleave="$ctrl.aboutMouseLeave()">
        关于我们
      </a>
    </li>
  </ul>
</div>
