<header id="classroom-showcase" class="classroom-grid">
  <div class="content-wrap">
    <div class="classroom-btns">
      <a class="btn" href ng-click="$ctrl.previousClass()">听音频</a>
      <a class="btn" href ng-click="$ctrl.displayInteractClass()">互动课{{::$ctrl.langs.nextClass}}</a>
    </div>
  </div>
</header>

<audio style="display: none">
  <source src="{{$ctrl.audio.ogg}}" type="audio/ogg">
  <source src="{{$ctrl.audio.mpeg}}" type="audio/mpeg"> {{::$ctrl.langs.notSupportHtml5Audio}}
</audio>