<header id="classroom-showcase" class="classroom-grid">
  <div class="content-wrap">
    <div class="classroom-btns">
      <a class="btn" href ng-click="$ctrl.playAudio()">
        音频
        <i class="fa fa-play-circle" ng-class="$ctrl.getPlayerIconClass()" aria-hidden="true"></i>
      </a>
      <a class="btn" href ng-click="$ctrl.gotoInteractClass()">互动课</a>
    </div>
    <div class="classroomImg-Container">
      <img ng-repeat="image in $ctrl.pdfImages" ng-src="{{image}}" alt="" class="classroomImg">
    </div>
  </div>
</header>