#classroom-showcase {
  margin: 1em;
}

#classroom-showcase .classroom-btns{
  text-align: center;
}

#classroom-showcase .btn {
  display: inline-block;
  margin: .5em 1em;
  padding: 0.3em 1.3em;
  border: 1px solid #666;
  background: #eaeaea;
  color: #333;
  font-size: 1em;
  text-decoration: none;
}



#classroom-showcase .btn:hover {
  background: #333;
  color: #fff;
}