<header class="w3-container w3-center w3-win8-taupe alphabetorigin-header">
  {{::$ctrl.jsonData[0].name}}
</header>

<div class="w3-container w3-margin w3-center app-container">

  <div class="w3-container w3-center alphabetorigin-intro">
    <button class="w3-btn w3-teal margin-8" ng-click="$ctrl.introductionClick()">
      {{::$ctrl.introduction}}
    </button>
    <button class="w3-btn w3-teal margin-8" ng-click="$ctrl.practiceClick()">
      {{::$ctrl.practice}}
    </button>
  </div>

  <div ng-repeat="alpha in $ctrl.subData" class="w3-row w3-grayscale-min w3-center">
    <div class="w3-row w3-border-bottom alphabetorigin-content">
      <div ng-repeat="word in alpha.words" ng-click="$ctrl.alphaClick(word.word,word.word, word.id, word.word)" class="w3-padding alpha5-col s4 m3 l1">
        <div class="wordbegin-view">
          <div class="w3-col s6 m6 l6 wordbegin-mean">
            <span class="wordbegin-cell">{{::word.meaning}}</span>
          </div>
          <div class="w3-col s6 m6 l6 wordbegin-word">
            <mon-word data-orgintext="{{::word.word}}"></mon-word>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-simpleplayer></app-simpleplayer>