.wordbegin-content {
  overflow: auto;
  margin: 16px;
  margin-top: 0;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 100% !important;
}

.wordbegin-center {
  display: flex;
  justify-content: center;
}

.word-header {
  background-color: #87794e !important;
}

.wordbegin-view {
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  height: 130px;
  background-color: #085a9d;
  cursor: pointer;
}

.wordbegin-mean {
  display: table;
  padding: 5px;
  height: 100%;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.wordbegin-word {
  height: 100%;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 1.5em;
}

.wordbegin-cell {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.4;
}

.alpha-col {
  float: left;
  width: 100%;
}

.alpha-col.s3 {
  width: 24.99999%;
}

.alpha-col.s4 {
  width: 33.33333%;
}

@media (min-width:601px) {
  .wordbegin-content {
    width: 80% !important;
  }

  .alpha-col.m1 {
    width: 14.28571%;
  }

  .alpha-col.m3 {
    width: 24.99999%;
  }
}

@media (min-width:993px) {
  .wordbegin-content {
    width: 70% !important;
  }

  .alpha-col.l1 {
    width: 14.28571%;
  }
}