#book-showcase .book-btns{
  margin-top: 1em;
  text-align: center;
}

#book-showcase .btn {
  display: inline-block;
  margin: .5em 1em;
  padding: 0.3em 1.3em;
  border: 1px solid #666;
  background: #eaeaea;
  color: #333;
  font-size: 1em;
  text-decoration: none;
}

#book-showcase .btn:hover {
  background: #333;
  color: #fff;
}

.bookImg{
  box-sizing: content-box;
  margin: 1em 0;
  width: 100%;
  height: auto;
  border: 1px solid #666;
}

@media screen and (min-width: 767px) {
  .bookImg{
    max-width: 550px;
  }
}