#levels-showcase {
  min-height: 250px;
  padding-top: 50px;
  line-height: 2em;
  font-size: 1.1em;
  text-align: center;
  color: #fff;
}

#levels-showcase .content-wrap {
  display: inline-block;
  max-width: 700px;
  padding: 0 1.5em;
}

#levels-showcase .content-wrap p{
  text-align: left;  
}

#levels-showcase h2 {
  padding-bottom: 0;
}

.level-class-container {
  padding-top: 0;
  z-index: 2000;
  background: #40434E;
  text-align: center;
  color: #fff;
}

.level-detail {
  display: inline-block;
  max-width: 500px;
}

.level-detail p{
  text-align: center !important;
}

.levelClasses {
  text-align: center;
}

.level-class,
.level-btn {
  display: inline-block;
  margin: 1em 0.1em 2em;
  padding: 0.3em 1.5em;
  border: 1px solid #666;
  background: #eaeaea;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

.level-class {
  margin: 1em;
  width: 5em;
  font-size: 1em;
  cursor: pointer;
}

.level-class:hover,
.level-btn:hover {
  background: #333;
  color: #fff;
}

@media screen and (min-width: 767px) {

}