<header id="levels-showcase" class="levels-grid" ng-style="{{$ctrl.headerStyle}}">
  <div class="content-wrap">
    <h2>{{$ctrl.langs.introduction.title}}</h2>
    <p>{{$ctrl.langs.introduction.text}}</p>

    <div ng-hide="$ctrl.selectPages">
      <a class="level-btn" ui-sref="root.levels.books({pagenum: $ctrl.pageNum - 1})" ng-hide="$ctrl.firstClass" title="{{::$ctrl.langs.previousPage}}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </a>
      <a class="level-btn" href ng-click="$ctrl.showSelectPages()" title="{{::$ctrl.langs.selectPage}}">第{{$ctrl.pageNum}}页</a>
      <a class="level-btn" ui-sref="root.levels.books({pagenum: $ctrl.pageNum + 1})" ng-hide="$ctrl.endClass" title="{{::$ctrl.langs.nextPage}}">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
    </div>

    <div ng-show="$ctrl.selectPages">
      选择页（共{{::$ctrl.pagesName.length}}页)
      <input class="level-input" type="text" name="pagenum" maxlength="4" size="4" ng-model="$ctrl.seletedPageNum">
      <a class="level-btn" ng-click="$ctrl.showSelectPages()" ui-sref="root.levels.books({pagenum: $ctrl.getSeletedPageNum()})">
        确定
      </a>
    </div>
  </div>
</header>

<ui-view></ui-view>