<div class="exerciseTextContent">
  根据下面左边显示字母从右边选择其正确的读音。(点击中间的播放按钮听读音)
</div>

<div class="exerciseBodyContainer">

  <div class="exercisePlay" ng-mousemove="$ctrl.playMouseMove()" ng-mouseenter="$ctrl.playMouseEnter()" ng-mouseleave="$ctrl.playMouseLeave()" ng-click="$ctrl.playClick()">
    <div class="exerciseCenterContainer">
      <div class="exerciseCenter">
        <span class="exercisePlayIconWrapper">
          <div class="exercisePlayIconBack" ng-style="$ctrl.playIconBackStyle">
            <div class="exercisePlayIcon">
              <i class="fa fa fa-play-circle" aria-hidden="true"></i>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>

  <div class="exerciseProblem">
    <div class="exerciseCenterContainer">
      <div class="exerciseCenter">
        <ul class="exerciseQuestionUl">
          <li class="exerciseQuestionLi" ng-repeat="question in $ctrl.questions">
            <div class="exerciseCheckAndOption" ng-mouseenter="$ctrl.exerciseCheckMouseEnter(question.id)" ng-mouseleave="$ctrl.exerciseCheckMouseLeave(question.id)" ng-click="$ctrl.exerciseCheckClick(question.id)">
              <span class="exerciseCheckBox">
                <i class="fa {{$ctrl.exerciseCheckIcon[question.id]}}" ng-style="$ctrl.exerciseCheckStyle[question.id]" aria-hidden="true"></i>
              </span>
              <span class="exerciseCheckLabel">{{::question.name}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="exerciseCover" ng-show="$ctrl.exerciseCover"></div>
