.exerciseTextContent {
  width: 100%;
}

.exerciseBodyContainer {
  margin: 50px;
  margin-top: 0;
  min-height: 300px;
}

.exercisePlay {
  position: relative;
  border-bottom: 1px dashed #999;
  cursor: pointer;
  width: 100%;
}

.exerciseCenterContainer {
  vertical-align: middle;
  text-align: center;
}

.exerciseCenter {
  display: inline-block;
  margin: 40px 0;
}

.exercisePlayIconWrapper {
  font-size: 50px;
  color: #1c758a;
}

.exercisePlayIconBack {
  width: 25px;
  height: 25px;
  background-color: #fff;
}

.exercisePlayIcon {
  position: absolute;
  overflow: visible;
  margin-top: -21px;
  margin-left: -10px;
  cursor: pointer;
}

.exerciseProblem {
  position: relative;
  width: 100%;
}

.exerciseCheckCenterContainer {
  vertical-align: middle;
  text-align: center;
}

.exerciseCheckCenter {
  display: inline-block;
  margin: 0;
}

.exerciseQuestionLi {
  float: left;
}

.exerciseCheckAndOption {
  padding: 16px 26px !important;
  cursor: pointer;
}

.exerciseCheckBox {
  position: relative !important;
  padding: 3px;
  font-size: 28px;
}

.exerciseCheckLabel {
  display: block;
  margin-top: 10px;
  font-size: 24px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
