.exerciseTextContent {
  width: 100%;
}

.exerciseBodyContainer {
  margin: 50px;
  min-height: 300px;
}

.exerciseTitle,
.exerciseProblem {
  position: relative;
  float: left;
}

.exerciseProblem {
  position: relative;
  float: left;
  border-left: 1px dashed #999;
}

.exercisePlay {
  position: relative;
  float: left;
  border-left: 1px dashed #999;
  cursor: pointer;
}

.exerciseCenterContainer {
  display: table-cell;
  vertical-align: middle;
  height: 400px;
  text-align: center;
}

.exerciseCenter {
  display: inline-block;
  margin: 0 70px;
}

.exercisePlayIconWrapper {
  font-size: 50px;
  color: #1c758a;
}

.exercisePlayIconBack {
  width: 25px;
  height: 25px;
  background-color: #fff;
}

.exercisePlayIcon {
  position: absolute;
  overflow: visible;
  margin-top: -21px;
  margin-left: -10px;
  cursor: pointer;
}

.exerciseCheckAndOption {
  display: flex !important;
  padding: 16px 16px !important;
  cursor: pointer;
}

.exerciseCheckBox {
  position: relative !important;
  display: flex !important;
  margin-right: 16px !important;
  padding: 3px;
  font-size: 28px;
}

.exerciseCheckLabel {
  font-size: 24px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.exerciseCover{
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
}
