nav .fa-caret-up,
nav .fa-caret-down {
  padding-left: 4px;
}

nav .fa-caret-up {
  padding-bottom: 5px;
}

nav .fa-graduation-cap {
  padding-right: 4px;
}

.navWrapper {
  border-top: 1px solid transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
  box-sizing: border-box !important;
  height: 62px !important;
  left: 0px !important;
  position: absolute !important;
  right: 0px !important;
  z-index: 1060 !important;
}

nav {
  display: block;
  clear: both;
  width: 100%;
  margin: 0;
}

.mainNav {
  max-width: 1200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
  height: 100% !important;
}

.mainNavContent {
  display: flex !important;
  height: 100% !important;
}

.mainNavContentCenter {
  padding-left: 16px !important;
  align-items: stretch !important;
  display: flex !important;
  height: 100% !important;
}

.mainNavContentLeft {
    display: none !important;
}

.mainNavContentRight {
  align-items: stretch !important;
  display: flex !important;
  height: 100% !important;
  flex-grow: 1 !important;
  width: 0px !important;
  justify-content: flex-end !important;
  padding-right: 0px !important;
}

.subjectsDropDown {
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  height: 100% !important;
  color: #FFF;
  font-family: inherit !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-decoration: none !important;
}

.subjectsDropDown:hover {
  color: #71b307 !important;
  font-weight: bold !important;
  cursor: pointer !important;
}

.appLogo {
  align-items: center !important;
  display: flex !important;
  height: 100% !important;
  color: #FFF;
  font-family: inherit !important;
  font-size: 22px !important;
  font-weight: 700 !important;
  text-decoration: none !important;
}

.appLogo:hover {
  color: #71b307 !important;
  cursor: pointer !important;
}

.register {
  display: none !important;
}

.register:hover {
  color: #71b307 !important;
  font-weight: bold !important;
  cursor: pointer !important;
}

.mainMenuIcon {
  display: flex !important;
  align-items: stretch !important;
}

.mainMenuIconA {
  margin-right: 16px !important;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center !important;
  display: flex !important;
  height: auto !important;
  color: #FFFFFF !important;
  font-family: inherit !important;
  font-size: 15px !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

.mobileDropDown {
  position: absolute !important;
  left: 0px !important;
  right: 0px !important;
  background: #FFFFFF !important;
}

.root {
  box-sizing: border-box;
  height: 166px !important;
  padding-top: 62px !important;
  background-position: center !important;
  background-size: cover !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  text-align: center !important;
  background-image: url(images/mountains.svg) !important;
}

.root h1 {
  margin-bottom: 30px !important;
  padding: 25px 20px 0 20px !important;
  color: #FFFFFF !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  text-shadow: 0 0 10px #1499af !important;
}

.whiteBackColor {
  background-color: #FFF;
}

.blackTextColor {
  color: #21242c !important;
}

.lightBlackTextColor {
  color: #999 !important;
}

.displayBlock {
  display: block !important;
}

.transparent {
  background-color: transparent;
}

@media only screen and (min-width: 767px) {

  .mainNavContentLeft {
    align-items: stretch !important;
    display: flex !important;
    height: 100% !important;
    flex-grow: 1 !important;
    width: 0px !important;
    justify-content: flex-start !important;
    padding-left: 20px !important;
  }

  .mainNavContentCenter {
    padding-left: 0px !important;
  }

  .mainNavContentRight {
    padding-right: 20px !important;
  }

  .register {
    align-items: center !important;
    display: flex !important;
    height: 100% !important;
    color: #FFF;
    font-family: inherit !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    margin-left: 32px !important;
  }

  .mainMenuIcon {
    display: none !important;
  }

  .subjectWrapper {
    display: inline-block !important;
    height: 100% !important;
    white-space: nowrap !important;
  }

  .mainDropDownDiv {
    opacity: 0.99 !important;
    margin: 0 !important;
    position: absolute !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 1000 !important;
    background: #FAFAFA !important;
    border-bottom: 1px solid #D6D8DA !important;
    border-top: 1px solid #D6D8DA !important;
  }

  .mainDropDownHeader {
    color: #007d96 !important;
    font-family: inherit !important;
    font-size: 15px !important;
    font-weight: bold !important;
    line-height: 1.75 !important;
    padding-bottom: 8px !important;
  }

  .mainDropDownHeaderA {
    color: #3B3E40;
    text-decoration: none !important;
    display: inline-block !important;
    width: 100% !important;
  }

  .mobileDropDown {
    display: none !important;
  }

  .root {
    line-height: 1.5 !important;
    height: 300px !important;
  }

  .root h1 {
    font-size: 25px !important;
  }
}

@media only screen and (min-width: 992px) {

  #mainHeader {
    min-height: 400px;
  }

  #appLogo {
    text-align: center;
  }

  #mainDropDownContainer {
    display: inline-block !important;
    height: 100% !important;
    white-space: nowrap !important;
  }

  .root {
    line-height: 1.75 !important;
    height: 400px !important;
  }

  .root h1 {
    font-size: 30px !important;
  }
}
