.subjectHeader {
  padding-top: 62px !important;
}

.subjectContent {
  min-height: 570px;
  position: relative;
}

.subjectDashBoardContainer {
  position: relative;
}

.subjectHeaderDivider {
  border-top: 1px solid #D6D8DA !important;
  width: 100% !important;
}

.subjectDashBoardController {
  background-color: #f7f7f7;
}

.subjectDashBoardRoot {
  background-color: #f7f7f7;
  background-image: linear-gradient(to right,#f7f7f7 0,#f7f7f7 50%,#fff 50%,#fff);
  background-repeat: no-repeat;
}

.subjectMissionContentContainer {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #f7f7f7;
  background-image: none;
  background-repeat: no-repeat;
}

.pure-g {
  text-rendering: optimizespeed;
  display: flex;
  flex-flow: row wrap;
}

.subjectDashBoardLeft {
  width: 100% !important;
  padding-top: 20px !important;
}

.subjectTaskListContainer {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px 0 20px;
  background-color: #fff;
}

.subjectTaskList {
  margin: 10px 0 0 auto;
  max-width: 700px;
  padding: 0;
}

.subjectDashBoardSectionContainer2 {
  margin-top: 0;
}

.subjectDashboardTutorialLink{
  font-weight: bold;
  text-decoration: none;
}

.subjectMissionTitle{
  margin-left: 20px;
  line-height: 1;
  text-align: center;
  color: #555;
  font-size: 30px;
  font-weight: 600;
}

.subjectDashboardSectionContainer {
  margin-top: 20px;
}

.subjectSectionHeader{
  margin-left: 20px;
  border-top: 1px solid #ddd;
  padding: 10px 20px 10px 0;
  color: #555;
  font-size: 14px;
  text-transform: uppercase;
}

.subjectMissionProgressContainer　{
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 0;
  border: 0;
  background: #f7f7f7;
}

.subjectMissionProgressInfo {
  position: relative;
  border: 0;
}

.subjectMissionProgressIconContainer {
  text-align: center;
}

#subjectMasteryChallengeContainer {
  border: 0;
  height: auto;
}

.subjectTaskEntryContainer {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  opacity: 1;
  position: relative;
  transition: max-height 500ms ease;
  max-height: 200px;
}

#subjectMasteryChallenge{
  box-sizing: border-box;
  position: relative;
  transition: all ease-in-out 50ms;
}

.subjectTaskLink {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.subjectInfoContainer {
  box-sizing: border-box;
  padding: 0 0 10px;
  display: flex;
  flex-flow: row wrap;
  border-radius: 4px;
  background-color: #1c758a;
  color: #fdfdfd;
}

.subjectTaskPreviewContainer {
  box-sizing: border-box;
  width: 33.3333%;
  padding: 25px 0;
}

.subjectTaskPreview {
  border: 2px solid #ddd;
  border-radius: 4px;
  height: 62px;
  width: 62px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.subjectTaskPreviewMaster {
  background: #1c758a;
  border-color: #29abca;
  text-align: center;
}

.subjectTaskPreviewMaster i,
.subjectTaskPreviewOther i {
  position: relative;
  line-height: 60px;
  font-size: 48px;
}

.subjectMasteryTaskInfo,
.subjectOtherTaskInfo {
  box-sizing: border-box;
  width: 66.6667%;
  padding: 0;
}

.subjectTaskTitle {
  color: #fff;
  font-family: inherit;
  line-height: 28px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.subjectTaskDescription {
  color: #fff;
}

.subjectStartButton {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  width: 80%;
  min-height: 30px;
  border-radius: 15px;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: .05em;
  line-height: 30px;
  text-align: center;
}

.subjectAnnotationContainer {
  position: relative;
  margin: auto;
  width: 100%;
  height: 72px;
}

.subjectUpNextOuterContainer {
  position: relative;
}

.subjectUpNextContainer {
  position: relative;
  border: 0;
}

.subjectExercise {
  position: relative;
  transition: max-height 500ms ease;
  opacity: 1;
  box-sizing: border-box;
  max-height: none;
  border: 0;
  border-bottom: 1px solid #eee;
  background: transparent;
}

.subjectTaskPreviewOther {
  background: #ccc;
  border-color: #ddd;
  text-align: center;
  color: #fff;
}

.subjectRecommendationInfo {
  color: #bf4f04;
  font-size: 14px;
  font-weight: 600;
  min-height: 3px;
  text-transform: uppercase;
}

.subjectOtherTaskInfo {
  padding: 20px 0;
}

.subjectOtherTaskTitle {
  color: #444;
  font-size: 18px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.subjectOtherTaskDescription {
  color: #aaa;
}

.subjectTaskBadge {
  position: relative;
  display: block;
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  padding: 0;
  min-height: 30px;
  border: 1px solid #4fbad4;
  border-radius: 15px;
  background-color: #fff;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: .05em;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #4fbad4;
}

#subjectModalBackDrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .98;
  background: #314453;
}

.subjectZoomedTask {
  position: absolute !important;
  z-index: 1050;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  max-width: 1200px;
  right: 0;
  left: 0;
  top: 0;
  bottom: auto;

}

.subjectFocusModeClose {
  position: absolute;
  z-index: 1051;
  right: -20px;
  top: -20px;
  cursor: pointer;
  text-align: center;
}

.subjectfocusModeCloseBackground {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 23px;
  height: 23px;
  background-color: #fdfdfd;
  z-index: -1;
}

.subjectIconRemoveSign {
  margin: 0 5px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #314453;
}

.subjectIconWaitSignContainer {
  width: 100%;
  padding-top: 10px ;
  text-align: center;
}

.subjectIconWaitSign {
  margin: 0 5px;
  font-size: 100px;
  line-height: 100px;
  text-decoration: none;
  color: #314453;
}

#subjectTaskContainer {
  background: #fff;
}

.subjectTaskHeaderContainer {
  background: #0b0f13;
  background: linear-gradient(180deg,#0b0f13,#3a5163);
}

.subjectTaskHeader {
  color: #fff;
  padding: 20px 30px;
  position: relative;
}

.subjectCompletionProgressContainer {
  float: right;
  width: 567.5px;
  padding-right: 3px;
  text-align: right;
  font-size: 18px;
}

.subjectTaskTitle {
  margin-bottom: 22px;
  color: #fff;
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
}

.subjectTaskIntroduction {
  margin-top: 3px;
  max-width: 45%;
  white-space: normal;
  line-height: 18px;
  color: #eee;
  font-family: inherit;
  font-size: 16px;
}

.subjectTasksTitle {
  padding-right: 38px;
  vertical-align: 12px;
  font-family: inherit;
  text-align: right;
  font-size: 18px;
  color: #fdfdfd;
}

.subjectProblemHistory {
  height: 37px;
  padding-right: 3px;
  position: relative;
}

.subjectTaskGrid {
  position: relative;
  float: right;
  box-sizing: content-box;
  margin-left: 9px;
  margin-right: -3px;
  width: 22px;
  height: 22px;
  padding: 3px;
  border: 3px solid #999;
  border-radius: 100%;
  transition: opacity 1s;
  background-color: transparent;
  text-align: center;
  z-index: 3;
}

.subjectExerciseContent {
  position: relative;
  display: block;
  border-top: 0;
  padding: 0;
}

.subjectExerciseBody {
  min-height: 380px;
}

.subjectExerciseCard {
  width: 100%;
  margin: 0;
}

.subjectCurrentCardContainerInner {
  border-color: #ddd;
  border-width: 0 0 1px 0;
  box-shadow: none;
}

.subjectAnswerForm {
  display: inline;
}

.subjectProblemArea {
  position: relative;
  float: left;
  margin-top: 20px;
  width: 70%;
  min-height: 378px;
  padding-bottom: 38px;
  font-size: 14px;
}

.subjectAnswerAreaWrap {
  float: right;
  margin: 20px 10px 0 0;
  width: 27%;
}

.subjectHiddenSubmit {
  position: absolute !important;
  /*visibility: hidden !important;*/
}

.subjectExerciseInfoBox {
  position: relative;
  z-index: 2;
  overflow: visible;
  background: #eee;
  border: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
  color: #333;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 1px 2px #ccc;
}

.subjectInfoBoxHeader {
  color: #777;
  display: block;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}

.subjectSolutionArea {
  box-sizing: content-box;
  overflow: visible;
  margin: 0 -10px;
  min-height: 35px;
  padding: 10px;
  border-bottom: 1px solid #c3c3c3;
}

.subjectAnswerButtons {
  position: relative;
  margin: 0 -10px;
  padding: 10px 10px 0;
}

.subjectCheckAnserWrapper {}

.subjectSimpleButtonGreen {
  width: 100%;
  top: 0;
  padding: 3px 10px;
  border: 1px solid #7fab07;
  border-radius: 3px;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  background-color: #80ac07;
  background-image: linear-gradient(to bottom,#8aba08,#719807);
  background-repeat: repeat-x;
  text-shadow: none;
  color: #fff;
  cursor: pointer !important;
}

.subjectRelatedVideo {
  position: relative;
  overflow: visible;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 1px 2px #ccc;
  background: #eee;
  color: #333;
  z-index: 10;
}

.subjectRelatedVideoContent {}

.subjectVideoBoxHeader{
  color: #777;
  display: block;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}

.subjectRelatedVideoListContainer {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subjectRelatedVideoList {
  list-style: none;
}

.subjectRelatedVideoList li{
  display: block;
  margin: 0 0 5px 0;
}

.subjectRelatedVideoList a {
  display: block;
  float: left;
  margin: 0;
  width: 98%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.subjectThumbnail {
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 14px;
  width: 200px;
  height: 100px;
  border: 1px solid #aaa;
  box-shadow: 0 0 3px #ccc;
  background-size: 200px 150px;
  background-position: 0 -40px;
}

.subjectThumbnailLabel {
  margin: 0;
  margin-top: 70px;
  padding: 5px 0 5px 10px;
  max-width: 198px;
  overflow: hidden;
  background-color: rgba(30,30,30,0.9);
  background: #333;
  text-align: left;
  color: #fff;
  text-overflow: ellipsis;
}

.subjectThumbnailDescription {
  display: block;
  position: relative;
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subjectVideoIcon {
  display: table-cell;
  width: auto;
  line-height: 20px;
  color: #ddd;
  font-size: 12px;
  text-indent: 0;
}

.subjectVideoTitle {
  display: table-cell;
  padding-left: 5px;
  line-height: 20px;
  font-size: 14px;
}

.subjectClear {
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.subjectVideoPlayContainer {
  position: absolute;
  margin: 0;
  margin-left: -415px;
  padding: 15px;
  left: 50%;
  overflow: visible;
  top: 0;
  width: 830px;
  z-index: 1070;
  outline: 0;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  background-color: #fff;
  background-clip: padding-box;
  color: #555;
}

.subjectVideoHeader {
  border-bottom: 1px solid #ddd;
  padding: 0 0 9px 0;
}

.subjectVideoHeaderTitle {
  margin-bottom: 0;
  font-size: 20px;
  color: #555;
}

.subjectVideoPlayerClose {
  margin-top: 2px;
  float: right;
  line-height: 20px;
  font-weight: bold;
  font-size: 26px;
  text-shadow: 0 1px 0 #fff;
  color: #000;
  opacity: .5;
  cursor: pointer;
}

.subjectVideoBody {
  position: relative;
  margin: 0;
  padding: 0;
  max-height: none;
  overflow: visible;
  background-image: linear-gradient(#111,#333);
  background-repeat: no-repeat;
}

.subjectPlayVideo {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.subjectVideoFrame {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

@media only screen and (min-width: 567px) {

  .subjectTaskPreviewContainer {
    width: 16.6667%;
  }

  .subjectMasteryTaskInfo,
  .subjectOtherTaskInfo {
    width: 58.3333%;
  }

  .subjectExercise {
    max-height: 200px;
  }

  .subjectAnnotationContainer {
    width: 25%;
  }

}

@media only screen and (min-width: 767px) {

  .subjectDashBoardLeft {
    width: 33.3333% !important;
  }

  .subjectTaskListContainer {
    width: 66.6667% !important;
  }

  .subjectMasteryTaskInfo {
    padding: 0 20px 0 0;
  }

}

@media only screen and (min-width:1024px) {

  .subjectMissionContentContainer {
    background-image: linear-gradient(to right,#f7f7f7 0,#f7f7f7 50%,#fff 50%,#fff);
  }

  .subjectTaskListContainer {
    padding: 0;
    padding-top: 20px;
  }

  .subjectTaskList {
    padding: 0 0 0 20px;
  }

}
