<header class="subjectHeader" ng-style="{'backgroundColor': $ctrl.category.backgroundColor}"></header>
<div class="subjectHeaderDivider"></div>
<div class="subjectPageContainer">
  <article>
    <section class="subjectContent">
      <div class="subjectDashBoardContainer">
        <div class="subjectDashBoardController">
          <div class="subjectDashBoardRoot">

            <div class="subjectMissionContentContainer">
              <div class="pure-g">
                <aside class="subjectDashBoardLeft">
                  <div style="margin: 20px;">
                    <a href="#" class="subjectDashboardTutorialLink" ng-style="{'color': $ctrl.category.color}"  ng-href="{{::$ctrl.getCategoryUrl()}}"><i class="fa fa-angle-left fa-lg" aria-hidden="true" style="font-size:1.5em;font-weight:bold;"></i> {{::$ctrl.category.name}}</a>
                  </div>
                  <div class="subjectMissionTitle">{{::$ctrl.subject.name}}</div>
                  <div class="subjectDashBoardSectionContainer">
                    <div class="subjectSectionHeader">{{::$ctrl.pageLang.targetProgress}}</div>
                    <div class="subjectMissionProgressContainer">
                      <div class="subjectMissionProgressInfo">
                        <div class="subjectMissionProgressIconContainer">
                          <div class="subjectMissionProgressIcon">
                            <svg class="icon-surface" viewBox="0 0 140 140" style="width: 140px; height: 140px;">
                              <g transform="translate(70,70)">
                                <circle fill="#fff" stroke="#ddd" x="0" y="0" r="60" stroke-width="10"></circle>
                                <g>
                                  <path fill="none" stroke="#9cdceb" stroke-width="10" d="M -35.76118828007217 48.17818399231367 A 60 60 0 0 1 -42.69644760971047 42.15463629912194">
                                  </path>
                                  <path fill="none" stroke="#58c4dd" stroke-width="10" d="M -30.661120766826613 51.57417641923208 A 60 60 0 0 1 -35.76118828007217 48.17818399231367">
                                  </path>
                                  <path fill="none" stroke="#29abca" stroke-width="10" d="M -30.661120766826613 51.57417641923208 A 60 60 0 0 1 -30.661120766826613 51.57417641923208"></path>
                                  <path fill="none" stroke="#1c758a" stroke-width="10" d="M 3.67394039744206e-15 -60 A 60 60 0 1 1 -30.661120766826613 51.57417641923208"></path>
                                </g>
                                <text x="0" font-family="'Proxima Nova', sans-serif" fill="#1c758a" text-anchor="middle" y="4" font-size="32">59%</text>
                                <text x="0" font-family="'Proxima Nova', sans-serif" fill="#1c758a" text-anchor="middle" y="20" font-size="12.8">{{::$ctrl.pageLang.progress}}</text>
                              </g>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </aside>
                <div class="subjectTaskListContainer">
                  <div class="subjectTaskList">
                    <div class="subjectDashBoardSectionContainer2">
                      <div id="subjectMasteryChallengeContainer" class="subjectTaskEntryContainer" style="display: none">
                        <div id="subjectMasteryChallenge">
                          <a href="#" class="subjectTaskLink">
                            <div class="subjectInfoContainer">
                              <div class="subjectTaskPreviewContainer">
                                <div class="subjectTaskPreview subjectTaskPreviewMaster">
                                  <i class="fa fa-trophy"></i>
                                </div>
                              </div>
                              <div class="subjectMasteryTaskInfo">
                                <div>&nbsp;</div>
                                <div class="subjectTaskTitle">
                                  jhg
                                </div>
                                <div class="subjectTaskDescription">
                                  jhg
                                </div>
                              </div>
                              <div class="subjectAnnotationContainer">
                                <button type="button" name="button" class="subjectStartButton accentButton">dsfsdf</button>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div class="subjectUpNextOuterContainer">
                        <div class="subjectUpNextContainer">
                          <span ng-repeat="subject in $ctrl.tasksCategory">
                            <div class="subjectExercise" ng-repeat="task in $ctrl.tasks[subject.id]"  ng-mouseenter="$ctrl.taskMouseEnter($event)"  ng-mouseleave="$ctrl.taskMouseLeave($event)">
                            <a href="javascript:void(0)" class="subjectTaskLink" ng-click="$ctrl.tasksClick($event, [subject, task])">
                              <div class="pure-g">
                                <div class="subjectTaskPreviewContainer">
                                  <div class="subjectTaskPreview subjectTaskPreviewOther">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                  </div>
                                </div>
                                <div class="subjectOtherTaskInfo">
                                  <div class="subjectRecommendationInfo"></div>
                                  <div class="subjectOtherTaskTitle">{{::task.name}}</div>
                                  <div class="subjectOtherTaskDescription">{{::task.introduction}}</div>
                                </div>
                                <div class="subjectAnnotationContainer">
                                  <button type="button" name="button" class="subjectTaskBadge">{{::$ctrl.pageLang.practice}}</button>
                                </div>
                              </div>
                            </a>
                          </div>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="subjectZoomedTask" ng-style="$ctrl.displayTaskStyle">
              <a href="javascript:void(0)" class="subjectFocusModeClose" ng-click="$ctrl.tasksClose()">
                <i class="fa fa-times-circle fa-lg subjectIconRemoveSign" title="{{::$ctrl.pageLang.close}}" aria-hidden="true"></i>
                <span class="subjectfocusModeCloseBackground"></span>
              </a>
              <div id="subjectTaskContainer">
                <div class="subjectIconWaitSignContainer" ng-style="$ctrl.waitSignContainer">
                  <i class="fa fa-cog fa-spin subjectIconWaitSign" aria-hidden="true"></i>
                </div>
                <div class="subjectTaskHeaderContainer" ng-style="$ctrl.exerciseStyle">
                  <div class="subjectTaskHeader">
                    <div>
                      <div class="subjectCompletionProgressContainer">
                        <div>
                          <span class="subjectTasksTitle">{{$ctrl.getTasksTitle()}}</span>
                        </div>
                        <div class="subjectProblemHistory">
                          <div>
                            <span>
                              <span id="{{$ctrl.getExerciseHtmlId(exercise.id)}}" class="subjectTaskGrid" ng-repeat="exercise in $ctrl.exercises"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <h2 class="subjectTaskTitle">{{$ctrl.task.name}}</h2>
                    </div>
                    <div class="subjectTaskIntroduction">{{$ctrl.task.introduction}}</div>
                  </div>
                </div>
                <div ng-style="$ctrl.exerciseStyle">
                  <article class="subjectExerciseContent">
                    <div class="subjectExerciseBody">
                      <div class="subjectExerciseCard">
                        <div class="subjectCurrentCardContainer">
                          <div class="subjectCurrentCardContainerInner">
                            <div class="subjectCurrentCardContent">
                              <div class="subjectProblemAnswer">
                                <form id="subjectAnswerForm">
                                  <div class="subjectProblemArea">
                                    <div id="subjectWorkArea"></div>
                                  </div>
                                  <div class="subjectAnswerAreaWrap">
                                    <input type="submit" aria-hidden="true" tabindex="-1" class="subjectHiddenSubmit">
                                    <div id="subjectAnswerArea">
                                      <div class="subjectExerciseInfoBox">
                                        <h4 class="subjectInfoBoxHeader">{{::$ctrl.pageLang.answer}}</h4>
                                        <div class="subjectSolutionArea"></div>
                                        <div class="subjectAnswerButtons">
                                          <div class="subjectCheckAnserWrapper">
                                            <input type="button" class="subjectSimpleButtonGreen" value="{{::$ctrl.pageLang.checkAnswer}}">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="subjectRelatedVideo">
                                        <div class="subjectRelatedVideoContent">
                                          <h4 class="subjectVideoBoxHeader">{{::$ctrl.pageLang.watchVideo}}</h4>
                                          <div class="subjectRelatedVideoListContainer">
                                            <ul class="subjectRelatedVideoList">
                                              <li ng-repeat="video in $ctrl.exerciseVideos">
                                                <div>
                                                  <a href="javascript:void(0)" ng-click="$ctrl.videoTitleClick(video)">
                                                    <div class="subjectThumbnail" style="background-image: {{video.style.backgroundImage}}">
                                                      <div class="subjectThumbnailLabel">
                                                        <div class="subjectThumbnailDescription">
                                                          <span class="subjectVideoIcon">
                                                              <i class="fa fa-video-camera" aria-hidden="true"></i>
                                                          </span>
                                                          <span class="subjectVideoTitle">{{video.introduction}}</span>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </a>
                                                </div>
                                              </li>
                                            </ul>
                                          </div>
                                          <div class="subjectClear"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                                <div style="clear: both;"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>

            <div class="subjectVideoPlayContainer" ng-style="$ctrl.displayVideoStyle">
              <div class="subjectVideoHeader">
                <span class="subjectVideoPlayerClose" ng-style="$ctrl.videoPlayerCloseStyle">
                  <i class="fa fa-window-close" aria-hidden="true" ng-mouseenter="$ctrl.videoPlayerCloseMouseEnter()"  ng-mouseleave="$ctrl.videoPlayerCloseMouseLeave()" ng-click="$ctrl.videoPlayerCloseClick()"></i>
                </span>
                <div class="">
                  <h2 class="subjectVideoHeaderTitle">{{$ctrl.videoPlayerTitle}}</h2>
                </div>
              </div>
              <div class="subjectVideoBody">
                <!-- div class="subjectPlayVideo" ng-style="$ctrl.playVideoStyle" -->
                <div class="subjectPlayVideo" ng-click="$ctrl.playVideo()">
                  <div class="subjectVideoFrame">
                    <video width="798px" height="100%" name="Video Name">
                      <source src="{{$ctrl.videoOgvUrl}}" type="video/ogg">
                      <source src="{{$ctrl.videoWebmUrl}}" type="video/webm">
                      {{::$ctrl.pageLang.notSupportHtml5Video}}
                    </video>
                    <audio controls>
                      <source src="{{$ctrl.audioOgvUrl}}" type="audio/ogg">
                      <source src="{{$ctrl.audioMp3Url}}" type="audio/mpeg">
                      {{::$ctrl.pageLang.notSupportHtml5Audio}}
                    </audio>
                  </div>
                  <div class="playVideoButton" ng-style="$ctrl.playVideoButtonStyle">
                    <span style="position:absolute; top: -30px; left: -30px">
                      <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </article>
</div>
<div id="subjectModalBackDrop" ng-style="$ctrl.dropBackStyle"></div>
