.subjectHeader {
  background-color: #11accd;
  padding-top: 62px !important;
}

.subjectContent {
  min-height: 570px;
  position: relative;
}

.subjectDashBoardContainer {
  position: relative;
}

.subjectHeaderDivider {
  border-top: 1px solid #D6D8DA !important;
  width: 100% !important;
}

.subjectDashBoardController {
  background-color: #f7f7f7;
}

.subjectDashBoardRoot {
  background-color: #f7f7f7;
  background-image: linear-gradient(to right,#f7f7f7 0,#f7f7f7 50%,#fff 50%,#fff);
  background-repeat: no-repeat;
}

.subjectMissionContentContainer {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #f7f7f7;
  background-image: none;
  background-repeat: no-repeat;
}

.pure-g {
  text-rendering: optimizespeed;
  display: flex;
  flex-flow: row wrap;
}

.subjectDashBoardLeft {
  width: 100% !important;
  padding-top: 20px !important;
}

.subjectTaskListContainer {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px 0 20px;
  background-color: #fff;
}

.subjectTaskList {
  margin: 10px 0 0 auto;
  max-width: 700px;
  padding: 0;
}

.subjectDashBoardSectionContainer2 {
  margin-top: 0;
}

.subjectDashboardTutorialLink{
  font-weight: bold;
  text-decoration: none;
}

.subjectMissionTitle{
  margin-left: 20px;
  line-height: 1;
  text-align: center;
  color: #555;
  font-size: 30px;
  font-weight: 600;
}

.subjectDashboardSectionContainer {
  margin-top: 20px;
}

.subjectSectionHeader{
  margin-left: 20px;
  border-top: 1px solid #ddd;
  padding: 10px 20px 10px 0;
  color: #555;
  font-size: 14px;
  text-transform: uppercase;
}

.subjectMissionProgressContainer　{
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 0;
  border: 0;
  background: #f7f7f7;
}

.subjectMissionProgressInfo {
  position: relative;
  border: 0;
}

.subjectMissionProgressIconContainer {
  text-align: center;
}

#subjectMasteryChallengeContainer {
  border: 0;
  height: auto;
}

.subjectTaskEntryContainer {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  opacity: 1;
  position: relative;
  transition: max-height 500ms ease;
  max-height: 200px;
}

#subjectMasteryChallenge{
  box-sizing: border-box;
  position: relative;
  transition: all ease-in-out 50ms;
}

.subjectTaskLink {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.subjectInfoContainer {
  box-sizing: border-box;
  padding: 0 0 10px;
  display: flex;
  flex-flow: row wrap;
  border-radius: 4px;
  background-color: #1c758a;
  color: #fdfdfd;
}

.subjectTaskPreviewContainer {
  box-sizing: border-box;
  width: 33.3333%;
  padding: 25px 0;
}

.subjectTaskPreview {
  border: 2px solid #ddd;
  border-radius: 4px;
  height: 62px;
  width: 62px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.subjectTaskPreviewMaster {
  background: #1c758a;
  border-color: #29abca;
  text-align: center;
}

.subjectTaskPreviewMaster i {
  position: relative;
  line-height: 60px;
  font-size: 48px;
}

.subjectMasteryTaskInfo {
  box-sizing: border-box;
  width: 66.6667%;
  padding: 0;
}

.subjectTaskTitle {
  color: #fff;
  font-family: inherit;
  line-height: 28px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.subjectTaskDescription {
  color: #fff;
}

.subjectStartButton {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  width: 80%;
  min-height: 30px;
  border-radius: 15px;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: .05em;
  line-height: 30px;
  text-align: center;
}

.subjectAnnotationContainer {
  position: relative;
  margin: auto;
  width: 100%;
  height: 72px;
}

@media only screen and (min-width: 567px) {

  .subjectTaskPreviewContainer {
    width: 16.6667%;
  }

  .subjectMasteryTaskInfo {
    width: 58.3333%;
  }

  .subjectAnnotationContainer {
    width: 25%;
  }

}

@media only screen and (min-width: 767px) {

  .subjectDashBoardLeft {
    width: 33.3333% !important;
  }

  .subjectTaskListContainer {
    width: 66.6667% !important;
  }

  .subjectMasteryTaskInfo {
    padding: 0 20px 0 0;
  }

}

@media only screen and (min-width:1024px) {

  .subjectMissionContentContainer {
    background-image: linear-gradient(to right,#f7f7f7 0,#f7f7f7 50%,#fff 50%,#fff);
  }

  .subjectTaskListContainer {
    padding: 0;
    padding-top: 20px;
  }

  .subjectTaskList {
    padding: 0 0 0 20px;
  }

}
