.wordinput-container {
  margin: 0 !important;
  padding: 0;
  text-align: center;
  transform-origin: left top;
  transform: rotate(-90deg) rotateY(180deg);
}

.wordinput-container-cell,
.wordinput-container-cell:focus {
  box-sizing: border-box;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 3px !important;
  background-color: #f1f1f1;
  cursor: vertical-text;
  font-family: 'hawang';
  font-size: 30px;
  letter-spacing: -1px;
}

.wordinput-container-cell:focus {
  outline: none;
}