<header id="showcase" class="grid">
  <div class="bg-image"></div>
  <div class="content-wrap">
    <h1>{{::$ctrl.langs.suixin.title}}</h1>
    <p>{{::$ctrl.langs.suixin.description}}</p>
    <p>{{::$ctrl.langs.suixin.manifesto}}</p>
  </div>
  <div class="w3-modal detail-container" ng-show="$ctrl.appDetailShow">
    <div class="detail">
      <h2>{{::$ctrl.langs.suixin.title}}</h2>
      <p>{{::$ctrl.suixinFullText}}</p>
      <a class="btn" href="" ng-click="$ctrl.showAppDetail()">关闭</a>
    </div>
  </div>
</header>

<main id="levelsmain" class="homeContainer">
  <!-- section A -->
  <section id="section-a" class="grid">
    <div class="content-wrap">
      <h2 class="content-title">{{::$ctrl.langs.mongol.title}}</h2>
      <div class="content-text">
        <p>{{::$ctrl.langs.mongol.description}}</p>
        <a class="btn" href="" ng-click="$ctrl.showMonDetail()">详细介绍</a>
      </div>
    </div>
    <div class="w3-modal detail-container" ng-show="$ctrl.monDetailShow">
      <div class="detail">
        <h2 class="content-title">随心蒙古语</h2>
        <span style="text-align: left; line-height: 2em;">
          <p>
            &nbsp; &nbsp; 蒙古语主要分布在中国、蒙古国和俄罗斯联邦的布里亚特、卡尔梅克、图瓦等国家，中国境内的蒙古语言主要分布在内蒙古、新疆、青海、甘肃、辽宁、吉林、黑龙江、河北等省和自治区，目前世界上有九百多万人在使用蒙古语。蒙古语是古老的民族语言之一，创建于十三世纪中叶。属于阿尔泰语系，也属于黏着语，在语音方面有严格的元音和谐律。自蒙元时代至明末清初，属回纥蒙古文，然后逐渐发展成现代蒙古文。
            <br><br>&nbsp; &nbsp; &nbsp;随心蒙古语网络课堂  __  
            <br>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;陪伴您的老师 随身携带的课堂
            <br>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;新模式新思维 简单易学
            <p>&nbsp; &nbsp; 学习蒙古文字、词汇、语句及短文等内容，通过学习语音和掌握1800个以上词汇，完全听懂、读懂普通蒙古书面语词句和口语会话，能抒写各类常规叙述文章，达到蒙古语读写与会话水平。</p>
          </p>
        </span>
        <a class="btn" href="" ng-click="$ctrl.showMonDetail()">关闭</a>
      </div>
    </div>
  </section>

  <!-- section B -->
  <section id="section-b" class="grid">
    <ul>
      <li ng-repeat="level in $ctrl.subData">
        <div class="card">
          <img ng-src="{{::level.image}}" alt="alphabet">
          <div class="card-content">
            <h3 class="card-title">{{::level.title}}</h3>
            <p>{{::level.text}}</p>
            <a class="btn2" ng-href="#!/root/level/{{level.id}}">进入学习</a>
          </div>
        </div>
      </li>
    </ul>
  </section>
</main>