#main img {
  display: block;
  width: 100%;
  height: auto;
}

h1,h2,h3,p  {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  margin: .5em 0;
  padding: 0.5em 1.5em;
  border: 1px solid #666;
  background: #333;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}

#showcase {
  min-height: 450px;
}

#showcase h1 {
  padding-top: 110px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

#showcase .bg-image {
  position: absolute;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
  background: #333 url('images/grassland.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main {
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

/* section A */
#section-a {
  padding-bottom: 2em;
  background: #eaeaea;
  color: #333;
}

/* section B */S
#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}

@media screen and (min-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  #section-a {
    background: #333;
    color: #fff;
  }

  #section-b ul {
    display: flex !important;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
}