#levelsmain img {
  display: block;
  width: 100%;
  height: auto;
}

h1,h2,h3,p  {
  margin: 0;
  padding: 1em 0;
}

.btn,
.btn2,
.dbtn {
  display: inline-block;
  margin: .5em 0;
  padding: 0.3em 1.3em;
  border: 1px solid #666;
  background: #eaeaea;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

.btn2 {
  border: 1px solid #aaa;
}

.btn:hover,
.btn2:hover {
  background: #333;
  color: #fff;
}

.dbtn {
  color: #999;
}

.card-content br,
.content-text p {
  text-indent: 1em;
}

.card-content p {
  text-align: left;
}

#showcase {
  min-height: 450px;
  color: #fff;
}

.detail-container {
  padding-top: 0;
  z-index: 2000;
  background: #40434E;
  text-align: center;
  color: #fff;
}

.detail {
  display: inline-block;
  max-width: 500px;
}

#showcase h1 {
  padding-top: 240px;
  padding-bottom: 0;
}

.detail,
#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

#showcase .bg-image {
  position: absolute;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.5;
  background: #3f3f3f url('images/grassland.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#showcase,
#levelsmain {
  font-size: 1.1em;
  line-height: 2em;
  text-align: center;
}

/* section A */
#section-a {
  padding-bottom: 2em;
  color: #fff;
}

#section-a .word {
  color: #e66;
}

/* section B */S
#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}

@media screen and (min-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  .detail-container {
    padding-top: 100px;
  }

  /**#section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }**/

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  #section-b ul {
    display: flex !important;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
}