.word-outerContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.word-container {
  display: table;
  text-align: center;
  transform-origin: left top;
  transform: rotate(-90deg) rotateY(180deg);
}

.word-container-cell {
  display: table-cell;
  vertical-align: middle;
  /*background-color: rgb(97, 114, 37);*/
}

.word-container-cell span{
  /*background-color: rgb(0, 0, 0);*/
}

@font-face {
  font-family: 'hawang';
  src:  url('fonts/hawang.eot?d4wmk8');
  src:  url('fonts/hawang.eot?d4wmk8#iefix') format('embedded-opentype'),
    url('fonts/hawang.ttf?d4wmk8') format('truetype'),
    url('fonts/hawang.woff?d4wmk8') format('woff'),
    url('fonts/hawang.svg?d4wmk8#hawang') format('svg');
  font-weight: normal;
  font-style: normal;
}

span {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hawang' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hawang-wa:before {
  content: "\e592";
}
.hawang-wa1:before {
  content: "\e593";
}
.hawang-wa2:before {
  content: "\e594";
}
.hawang-wa3:before {
  content: "\e595";
}
.hawang-wa4:before {
  content: "\e596";
}
.hawang-ra:before {
  content: "\e57b";
}
.hawang-ra1:before {
  content: "\e57c";
}
.hawang-ra2:before {
  content: "\e57d";
}
.hawang-ra3:before {
  content: "\e57e";
}
.hawang-ra4:before {
  content: "\e57f";
}
.hawang-ri:before {
  content: "\e582";
}
.hawang-ri1:before {
  content: "\e583";
}
.hawang-ri2:before {
  content: "\e584";
}
.hawang-ri3:before {
  content: "\e585";
}
.hawang-ro:before {
  content: "\e588";
}
.hawang-ro1:before {
  content: "\e589";
}
.hawang-ro2:before {
  content: "\e58a";
}
.hawang-ro3:before {
  content: "\e58b";
}
.hawang-ru:before {
  content: "\e58e";
}
.hawang-ru1:before {
  content: "\e58f";
}
.hawang-ya:before {
  content: "\e564";
}
.hawang-ya1:before {
  content: "\e565";
}
.hawang-ya2:before {
  content: "\e566";
}
.hawang-ya3:before {
  content: "\e567";
}
.hawang-ya4:before {
  content: "\e568";
}
.hawang-yi:before {
  content: "\e56b";
}
.hawang-yi1:before {
  content: "\e56c";
}
.hawang-yi2:before {
  content: "\e56d";
}
.hawang-yi3:before {
  content: "\e56e";
}
.hawang-yo:before {
  content: "\e571";
}
.hawang-yo1:before {
  content: "\e572";
}
.hawang-yo2:before {
  content: "\e573";
}
.hawang-yo3:before {
  content: "\e574";
}
.hawang-yu:before {
  content: "\e577";
}
.hawang-yu1:before {
  content: "\e578";
}
.hawang-ja:before {
  content: "\e54e";
}
.hawang-ja1:before {
  content: "\e54f";
}
.hawang-ja2:before {
  content: "\e550";
}
.hawang-ja3:before {
  content: "\e551";
}
.hawang-ji:before {
  content: "\e554";
}
.hawang-ji1:before {
  content: "\e555";
}
.hawang-ji2:before {
  content: "\e556";
}
.hawang-ji3:before {
  content: "\e557";
}
.hawang-jo:before {
  content: "\e55a";
}
.hawang-jo1:before {
  content: "\e55b";
}
.hawang-jo2:before {
  content: "\e55c";
}
.hawang-jo3:before {
  content: "\e55d";
}
.hawang-ju:before {
  content: "\e560";
}
.hawang-ju1:before {
  content: "\e561";
}
.hawang-qa:before {
  content: "\e539";
}
.hawang-qa1:before {
  content: "\e53a";
}
.hawang-qa2:before {
  content: "\e53b";
}
.hawang-qa3:before {
  content: "\e53c";
}
.hawang-qi:before {
  content: "\e53f";
}
.hawang-qi1:before {
  content: "\e540";
}
.hawang-qi2:before {
  content: "\e541";
}
.hawang-qi3:before {
  content: "\e542";
}
.hawang-qo:before {
  content: "\e544";
}
.hawang-qo1:before {
  content: "\e545";
}
.hawang-qo2:before {
  content: "\e546";
}
.hawang-qo3:before {
  content: "\e547";
}
.hawang-qu:before {
  content: "\e54a";
}
.hawang-qu1:before {
  content: "\e54b";
}
.hawang-da:before {
  content: "\e531";
}
.hawang-da1:before {
  content: "\e532";
}
.hawang-di:before {
  content: "\e533";
}
.hawang-di1:before {
  content: "\e534";
}
.hawang-do:before {
  content: "\e535";
}
.hawang-do1:before {
  content: "\e536";
}
.hawang-du:before {
  content: "\e537";
}
.hawang-du1:before {
  content: "\e538";
}
.hawang-ta:before {
  content: "\e51b";
}
.hawang-ta1:before {
  content: "\e51c";
}
.hawang-ta2:before {
  content: "\e51d";
}
.hawang-ta3:before {
  content: "\e51e";
}
.hawang-ti:before {
  content: "\e521";
}
.hawang-ti1:before {
  content: "\e522";
}
.hawang-ti2:before {
  content: "\e523";
}
.hawang-ti3:before {
  content: "\e524";
}
.hawang-to:before {
  content: "\e527";
}
.hawang-to1:before {
  content: "\e528";
}
.hawang-to2:before {
  content: "\e529";
}
.hawang-to3:before {
  content: "\e52a";
}
.hawang-tu:before {
  content: "\e52d";
}
.hawang-tu1:before {
  content: "\e52e";
}
.hawang-xa:before {
  content: "\e505";
}
.hawang-xa1:before {
  content: "\e506";
}
.hawang-xa2:before {
  content: "\e507";
}
.hawang-xa3:before {
  content: "\e508";
}
.hawang-xi:before {
  content: "\e50b";
}
.hawang-xi1:before {
  content: "\e50c";
}
.hawang-xi2:before {
  content: "\e50d";
}
.hawang-xi3:before {
  content: "\e50e";
}
.hawang-xo:before {
  content: "\e511";
}
.hawang-xo1:before {
  content: "\e512";
}
.hawang-xo2:before {
  content: "\e513";
}
.hawang-xo3:before {
  content: "\e514";
}
.hawang-xu:before {
  content: "\e517";
}
.hawang-xu1:before {
  content: "\e518";
}
.hawang-sa:before {
  content: "\e4ef";
}
.hawang-sa1:before {
  content: "\e4f0";
}
.hawang-sa2:before {
  content: "\e4f1";
}
.hawang-sa3:before {
  content: "\e4f2";
}
.hawang-si:before {
  content: "\e4f5";
}
.hawang-si1:before {
  content: "\e4f6";
}
.hawang-si2:before {
  content: "\e4f7";
}
.hawang-si3:before {
  content: "\e4f8";
}
.hawang-so:before {
  content: "\e4fb";
}
.hawang-so1:before {
  content: "\e4fc";
}
.hawang-so2:before {
  content: "\e4fd";
}
.hawang-so3:before {
  content: "\e4fe";
}
.hawang-su:before {
  content: "\e501";
}
.hawang-su1:before {
  content: "\e502";
}
.hawang-la:before {
  content: "\e4d8";
}
.hawang-la1:before {
  content: "\e4d9";
}
.hawang-la2:before {
  content: "\e4da";
}
.hawang-la3:before {
  content: "\e4db";
}
.hawang-la4:before {
  content: "\e4dc";
}
.hawang-li:before {
  content: "\e4df";
}
.hawang-li1:before {
  content: "\e4e0";
}
.hawang-li2:before {
  content: "\e4e1";
}
.hawang-li3:before {
  content: "\e4e2";
}
.hawang-lo:before {
  content: "\e4e5";
}
.hawang-lo1:before {
  content: "\e4e6";
}
.hawang-lo2:before {
  content: "\e4e7";
}
.hawang-lo3:before {
  content: "\e4e8";
}
.hawang-lu:before {
  content: "\e4eb";
}
.hawang-lu1:before {
  content: "\e4ec";
}
.hawang-ma:before {
  content: "\e4c1";
}
.hawang-ma1:before {
  content: "\e4c2";
}
.hawang-ma2:before {
  content: "\e4c3";
}
.hawang-ma3:before {
  content: "\e4c4";
}
.hawang-ma4:before {
  content: "\e4c5";
}
.hawang-mi:before {
  content: "\e4c8";
}
.hawang-mi1:before {
  content: "\e4c9";
}
.hawang-mi2:before {
  content: "\e4ca";
}
.hawang-mi3:before {
  content: "\e4cb";
}
.hawang-mo:before {
  content: "\e4ce";
}
.hawang-mo1:before {
  content: "\e4cf";
}
.hawang-mo2:before {
  content: "\e4d0";
}
.hawang-mo3:before {
  content: "\e4d1";
}
.hawang-mu:before {
  content: "\e4d4";
}
.hawang-mu1:before {
  content: "\e4d5";
}
.hawang-ga:before {
  content: "\e4b5";
}
.hawang-ga1:before {
  content: "\e4b6";
}
.hawang-ga2:before {
  content: "\e4b7";
}
.hawang-ga3:before {
  content: "\e4b8";
}
.hawang-go:before {
  content: "\e4bb";
}
.hawang-go1:before {
  content: "\e4bc";
}
.hawang-go2:before {
  content: "\e4bd";
}
.hawang-go3:before {
  content: "\e4be";
}
.hawang-ha:before {
  content: "\e496";
}
.hawang-ha1:before {
  content: "\e497";
}
.hawang-ha2:before {
  content: "\e498";
}
.hawang-ha3:before {
  content: "\e499";
}
.hawang-he:before {
  content: "\e49d";
}
.hawang-he1:before {
  content: "\e49e";
}
.hawang-he2:before {
  content: "\e49f";
}
.hawang-he3:before {
  content: "\e4a0";
}
.hawang-hi:before {
  content: "\e4a3";
}
.hawang-hi1:before {
  content: "\e4a4";
}
.hawang-hi2:before {
  content: "\e4a5";
}
.hawang-hi3:before {
  content: "\e4a6";
}
.hawang-ho:before {
  content: "\e4a9";
}
.hawang-ho1:before {
  content: "\e4aa";
}
.hawang-ho2:before {
  content: "\e4ab";
}
.hawang-ho3:before {
  content: "\e4ac";
}
.hawang-hu:before {
  content: "\4bf";
}
.hawang-hu1:before {
  content: "\e4b0";
}
.hawang-hu2:before {
  content: "\e4b1";
}
.hawang-hu3:before {
  content: "\e4b2";
}
.hawang-pa:before {
  content: "\e47b";
}
.hawang-pa1:before {
  content: "\e47c";
}
.hawang-pa2:before {
  content: "\e47d";
}
.hawang-pa3:before {
  content: "\e47e";
}
.hawang-pi:before {
  content: "\e483";
}
.hawang-pi1:before {
  content: "\e484";
}
.hawang-pi2:before {
  content: "\e485";
}
.hawang-pi3:before {
  content: "\e486";
}
.hawang-po:before {
  content: "\e48a";
}
.hawang-po1:before {
  content: "\e48b";
}
.hawang-po2:before {
  content: "\e48c";
}
.hawang-po3:before {
  content: "\e48d";
}
.hawang-pu:before {
  content: "\e491";
}
.hawang-pu1:before {
  content: "\e492";
}
.hawang-ba:before {
  content: "\e459";
}
.hawang-ba1:before {
  content: "\e45a";
}
.hawang-ba2:before {
  content: "\e45b";
}
.hawang-ba3:before {
  content: "\e45c";
}
.hawang-bi:before {
  content: "\e463";
}
.hawang-bi1:before {
  content: "\e464";
}
.hawang-bi2:before {
  content: "\e465";
}
.hawang-bi3:before {
  content: "\e466";
}
.hawang-bo:before {
  content: "\e46d";
}
.hawang-bo1:before {
  content: "\e46e";
}
.hawang-bo2:before {
  content: "\e46f";
}
.hawang-bo3:before {
  content: "\e470";
}
.hawang-bu:before {
  content: "\e477";
}
.hawang-bu1:before {
  content: "\e478";
}
.hawang-na:before {
  content: "\e432";
}
.hawang-na1:before {
  content: "\e433";
}
.hawang-na2:before {
  content: "\e434";
}
.hawang-na3:before {
  content: "\e435";
}
.hawang-na4:before {
  content: "\e436";
}
.hawang-ni:before {
  content: "\e43b";
}
.hawang-ni1:before {
  content: "\e43c";
}
.hawang-ni2:before {
  content: "\e43d";
}
.hawang-ni3:before {
  content: "\e43e";
}
.hawang-no:before {
  content: "\e445";
}
.hawang-no1:before {
  content: "\e446";
}
.hawang-no2:before {
  content: "\e447";
}
.hawang-no3:before {
  content: "\e448";
}
.hawang-nu:before {
  content: "\e44f";
}
.hawang-nu1:before {
  content: "\e450";
}
.hawang-a:before {
  content: "\e400";
}
.hawang-a1:before {
  content: "\e401";
}
.hawang-a2:before {
  content: "\e402";
}
.hawang-a3:before {
  content: "\e403";
}
.hawang-a4:before {
  content: "\e404";
}
.hawang-e:before {
  content: "\e409";
}
.hawang-e1:before {
  content: "\e40a";
}
.hawang-i:before {
  content: "\e413";
}
.hawang-i1:before {
  content: "\e414";
}
.hawang-i2:before {
  content: "\e415";
}
.hawang-i3:before {
  content: "\e416";
}
.hawang-o:before {
  content: "\e41e";
}
.hawang-o1:before {
  content: "\e41f";
}
.hawang-o2:before {
  content: "\e420";
}
.hawang-o3:before {
  content: "\e421";
}
.hawang-u:before {
  content: "\e427";
}
.hawang-u1:before {
  content: "\e428";
}
