.wordime-modal {
  z-index: 1000;
  background-color: rgba(30,30,30,.9);
}

.wordime-modal-content {
  max-width: 500px;
}

.wordime-board {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto 50px;
  padding: 8px;
  background-color: rgb(100, 100, 100);
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.wordime-word-container {
  margin: 0 auto;
  float: left;
  box-sizing: content-box;
  width: 36px;
  height: 100%;
  padding: 2px;
}

.wordime-keyboard-container {
  overflow: hidden;
  margin-left: 0 !important;
}

.wordime-button-container {
  grid-column: 1/3;
  width: 100%;
  height: 100%;
  padding-top: 8px;
  font-size: 1.1em;
}

.wordime-buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  justify-items: center;
  margin: auto;
  width: 100%;
}

.wordime-button {
  width: 80%;
  background-color: rgba(50,50,50,.5);
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.wordime-button:hover {
  border: 1px solid #999;
  color: rgb(161, 140, 19);
}

.wordime-button1 {
  justify-self: right;
  grid-column: 1/2;
}

.wordime-button2 {
  grid-column: 2/3;
}

.wordime-button3 {
  justify-self: left;
  grid-column: 3/4;
}

.wordime-button-text {
  line-height: 2em;
  font-weight: bold;
}

.wordime-keys-wrapper {
  padding: 3px 5px;
}

.wordime-key-consonant,
.wordime-key-vowel,
.wordime-key-variant,
.wordime-tail-alpha,
.wordime-key-vowel-disable {
  margin: auto;
  width: 40px;
  height: 60px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: rgba(50,50,50,0.5);
  font-size: 2em;
  cursor: pointer;
  color: rgb(255,255,255);
}

.wordime-variants-container {
  display: grid;
  grid-template-columns: 70px auto;
}

.wordime-half-variants-container {
  display: grid;
  grid-template-columns: auto;
}

.wordime-variants {
  border-left: 1px dashed rgba(50,50,50,.9);
}

.wordime-variant-wrapper1,
.wordime-variant-wrapper2,
.wordime-variant-wrapper3 {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
  padding: 15px 5px;
}

.wordime-variant-wrapper2 {
  grid-template-columns: 50px 50px;
}

.wordime-variant-wrapper3 {
  grid-template-columns: 50px 50px 50px;
}

.wordime-key-vowel {
  background-color: rgba(0,0,0,0.5);
}

.wordime-key-vowel-disable {
  cursor: not-allowed;
  color: rgb(100,100,100) !important;
}

.wordime-key-selected,
.wordime-key-variant:hover,
.wordime-tail-alpha:hover {
  border: 1px solid rgb(221, 163, 5) !important;
  color: rgb(221, 163, 5) !important;
}

.wordime-tail-alpha {
  height: 60px;
}

.wordime-two-alpha-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 108px;
}

.clear {
  clear:both;
  line-height:0;
}
