<div id="wordIme" class="w3-modal word-player" ng-show="$ctrl.showWordIme">
  <div class="w3-modal-content" style="max-width:500px">
    <div class="wordime-board">

      <div class="wordime-word-container">
        <mword-Input></mword-Input>
      </div>

      <div class="wordime-button-container">
        <span class="wordime-table-cell">
          <div class="wordime-button" ng-click="$ctrl.backspace()">
            <span class="wordime-button-text">删除</span>
          </div>
          <br>
          <br>
          <div class="wordime-button" ng-click="$ctrl.cancel()">
            <span class="wordime-button-text">取消</span>
          </div>
        </span>
      </div>

      <div class="wordime-keyboard-container">
        <div ng-hide="$ctrl.originAlphaSelected()">
          <div ng-repeat="consonant in $ctrl.wordImeKeyConsonants" class="wordime-keys-wrapper w3-col s3">
            <div ng-click="$ctrl.consonantClick(consonant)" class="wordime-key-consonant" ng-class="$ctrl.getConsonantClass(consonant)">
              <mon-word data-origintext="{{::consonant}}"></mon-word>
            </div>
          </div>
          <br class="clear" />
        </div>
        <div ng-hide="$ctrl.originAlphaSelected()">
          <div ng-hide="$ctrl.consonantSelected()">
            <div ng-repeat="vowel in $ctrl.wordImeKeyVowels" class="wordime-keys-wrapper alpha5-col s1">
              <div ng-click="$ctrl.vowelClick(vowel)" ng-class="$ctrl.getVowelClass(vowel)">
                <mon-word data-origintext="{{::vowel}}"></mon-word>
              </div>
            </div>
            <br class="clear" />
          </div>
          <div ng-hide="!$ctrl.consonantSelected()">
            <div ng-repeat="vowel in $ctrl.wordImeKeyOriVowels" class="wordime-keys-wrapper alpha5-col s1">
              <div ng-click="$ctrl.vowelClick(vowel)" ng-class="$ctrl.getVowelClass(vowel)">
                <mon-word data-origintext="{{::vowel}}"></mon-word>
              </div>
            </div>
            <br class="clear" />
          </div>
        </div>
        <div ng-show="$ctrl.originAlphaSelected()">
          <div class="wordime-variant-wrapper">
            <div ng-click="$ctrl.alphaClick(0)" class="wordime-key-variant">
              <mon-word data-origintext="{{$ctrl.alphaVariants[0]}}"></mon-word>
            </div>
          </div>
          <div class="wordime-variant-wrapper">
            <div ng-click="$ctrl.alphaClick(1)" class="wordime-key-variant">
              <mon-word data-origintext="{{$ctrl.alphaVariants[1]}}"></mon-word>
            </div>
          </div>
          <div class="wordime-variant-wrapper">
            <div class="wordime-two-alpha-wrapper">
              <div ng-class="$ctrl.hasFourAlphaclass()">
                <div ng-click="$ctrl.alphaClick(2)" class="wordime-tail-alpha">
                  <mon-word data-origintext="{{$ctrl.alphaVariants[2]}}"></mon-word>
                </div>
              </div>
              <div class="w3-col s4" ng-show="$ctrl.hasFourVariants()">
                <div style="width:36px;height:50px"></div>
              </div>
              <div class="w3-col s4" ng-show="$ctrl.hasFourVariants()">
                <div ng-click="$ctrl.alphaClick(3)" class="wordime-tail-alpha">
                  <mon-word data-origintext="{{$ctrl.alphaVariants[3]}}"></mon-word>
                </div>
              </div>
              <br class="clear" ng-show="$ctrl.hasFourVariants()" />
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>