<div id="wordIme" class="w3-modal word-player" ng-show="$ctrl.showWordIme">
  <div class="w3-modal-content" style="max-width:500px">
    <div class="wordime-board">

      <div class="wordime-word-container">
        <mword-Input data-origintext="{{$ctrl.word}}"></mword-Input>
      </div>

      <div class="wordime-button-container">
        <span class="wordime-table-cell">
          <div class="wordime-button" ng-click="$ctrl.done()">
            <span class="wordime-button-text">确定</span>
          </div>
          <br>
          <br>
          <div class="wordime-button" ng-click="$ctrl.cancel()">
            <span class="wordime-button-text">取消</span>
          </div>
        </span>
      </div>

      <div class="wordime-keyboard-container">

        <div>
          <div ng-repeat="word in $ctrl.wordImeKeyAlphas" class="wordime-keys-wrapper w3-col s3">
            <div ng-click="$ctrl.wordClick(word)" class="wordime-key">
              <mon-word data-origintext="{{::word}}"></mon-word>
            </div>
          </div>
          <br class="clear" />
        </div>
        <div>
          <div ng-repeat="word in $ctrl.wordImeKeyVowels" class="wordime-keys-wrapper alpha5-col s1">
            <div ng-click="$ctrl.wordClick(word)" class="wordime-key-vowel">
              <mon-word data-origintext="{{::word}}"></mon-word>
            </div>
          </div>
          <br class="clear" />
        </div>

      </div>

    </div>
  </div>
</div>