<div id="wordIme" class="w3-modal wordime-modal" ng-show="$ctrl.showWordIme">
  <div class="w3-modal-content wordime-modal-content">
    <div class="wordime-board">

      <div class="wordime-word-container">
        <mword-Input></mword-Input>
      </div>

      <div class="wordime-keyboard-container">

        <!-- consonant alphas display -->
        <div ng-class="$ctrl.getConsnantAlphasClass()">
          <div ng-repeat="consonant in $ctrl.wordImeKeyConsonants" class="wordime-keys-wrapper">
            <div ng-click="$ctrl.consonantClick(consonant)" class="wordime-key-consonant" ng-class="$ctrl.getConsonantClass(consonant)">
              <mon-word data-origintext="{{::consonant}}"></mon-word>
            </div>
          </div>
          <br class="clear" />
        </div>

        <!-- foreign alphas display -->
        <div ng-class="$ctrl.getForeignAlphasClass()">
          <div ng-repeat="consonant in $ctrl.wordImeKeyForeigns" class="wordime-foreign-keys-wrapper">
            <div ng-click="$ctrl.consonantClick(consonant)" class="wordime-key-consonant" ng-class="$ctrl.getConsonantClass(consonant)">
              <mon-word data-origintext="{{::consonant}}"></mon-word>
            </div>
          </div>
        </div>

        <!-- vowel alphas display -->
        <div ng-class="$ctrl.getVowelAlphasClass()">
          <div ng-repeat="vowel in $ctrl.wordImeKeyOriVowels" class="wordime-keys-wrapper alpha5-col s1">
            <div ng-click="$ctrl.vowelClick(vowel)" ng-class="$ctrl.getVowelClass(vowel)">
              <mon-word data-origintext="{{::vowel}}"></mon-word>
            </div>
          </div>
        </div>

        <!-- foreign single alphas display -->
        <div ng-class="$ctrl.getForeignAlphasClass()">
          <div ng-repeat="foreign in $ctrl.wordImeKeyFSingles" class="wordime-keys-wrapper alpha5-col s1">
            <div ng-click="$ctrl.fsingleClick(foreign)" class="wordime-key-vowel">
              <mon-word data-origintext="{{::foreign}}"></mon-word>
            </div>
          </div>
        </div>

        <!-- half alphas display-->
        <div ng-class="$ctrl.setHalfAlphasClass()">
          <div ng-repeat="half in $ctrl.wordImeKeyHalfs" class="wordime-half-keys-wrapper alpha5-col s1">
            <div class="wordime-key-vowel" ng-click="$ctrl.halfClick(half)">
              <mon-word data-origintext="{{::half}}"></mon-word>
            </div>
          </div>
        </div>

        <div class="wordime-variants-container" ng-show="$ctrl.originAlphaSelected()">

          <!-- alphas origin display -->
          <div ng-click="$ctrl.alphaClick(0)" class="wordime-key-variant" ng-show="$ctrl.variantExist(0)">
            <mon-word data-origintext="{{$ctrl.getAlphaVariant(0)}}"></mon-word>
          </div>

          <!-- alphas variants display -->
          <div class="wordime-variants">
            <div ng-repeat="variant in [[1,2,3], [4,5,6], [7,8,9]]" ng-class="$ctrl.getVariantsClass($index + 1)">
              <div ng-repeat="position in variant" ng-click="$ctrl.alphaClick(position)" class="wordime-key-variant"
                ng-show="$ctrl.variantExist(position)">
                <mon-word data-origintext="{{$ctrl.getAlphaVariant(position)}}"></mon-word>
              </div>
            </div>
          </div>

        </div>

        <!-- half alphas variants display -->
        <div class="wordime-half-variants-container" ng-show="$ctrl.halfAlphaSelected()">

          <div>
            <div ng-repeat="position in [0,1]" class="wordime-variant-wrapper1">
              <div ng-click="$ctrl.halfVariantClick(position)" class="wordime-key-variant">
                <mon-word data-origintext="{{$ctrl.getHalfVariant(position)}}"></mon-word>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="wordime-button-container">
      <div class="wordime-buttons">

        <span ng-class="$ctrl.getConsnantButtonClass()" ng-click="$ctrl.toggleConsnantAlphas()">
          <span class="wordime-button-text">辅音</span>
        </span>

        <span ng-class="$ctrl.getHalfButtonClass()" ng-click="$ctrl.toggleHalfAlphas()">
          <span class="wordime-button-text">半音</span>
        </span>

        <span ng-class="$ctrl.getForeignButtonClass()" ng-click="$ctrl.toggleForeignAlphas()">
          <span class="wordime-button-text">借词</span>
        </span>

      </div>
    </div>

    <div class="wordime-button-container">
      <div class="wordime-buttons">

        <span class="wordime-button" ng-click="$ctrl.backSpace()">
          <span class="wordime-button-text">删除</span>
        </span>

        <span class="wordime-button" ng-hide="$ctrl.originAlphaSelected()" ng-click="$ctrl.done()">
          <span class="wordime-button-text">确定</span>
        </span>

        <span class="wordime-button" ng-click="$ctrl.cancel()">
          <span class="wordime-button-text">取消</span>
        </span>

      </div>
    </div>
  </div>
</div>