.wordplayer-word-container {
  margin-left: auto;
  margin-right: auto;
  width: 36px;
  height: 100px;
  font-size: 2em;
}

.wordplayer-board {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 1);
}

.word-player {
  z-index: 1000;
  background-color: rgba(100,100,100,.9);
}
