.variantpractice-view {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 45px;
  background-color: #085a9d;
}

.variantview-view-value {
  margin-left: auto !important;
  margin-right: auto !important;
}

.variantpractice-alpha-click {
  cursor: pointer;
}

.variantpractice-empty-alpha {
  border: 1px solid #ccc;
  width: 43px;
  height: 75px;
  padding-top: 25px;
}

.variantpractice-position,
.variantpractice-position-fill {
  margin-left: auto !important;
  margin-right: auto !important;
}

.variantpractice-position-fill {
  background-color: #085a9d;
}

.variantpractice-opacity {
  opacity: 0.3;
}