<header class="w3-container w3-center w3-dark-gray alphabetorigin-header">
  <div class="app-container">
    {{::$ctrl.langs.name}}
  </div>
</header>

<div class="w3-container w3-margin w3-center app-container">
  <div class="w3-row w3-grayscale-min">
    <div class="w3-margin w3-padding w3-light-grey originpractice-content">

      <div class="originpractice-close-container">
        <div class="originpractice-exit" ng-click="$ctrl.exitPractice()">
          <i class="fa fa-times-circle fa-lg originpractice-close-icon" title="{{::$ctrl.langs.exit}}" aria-hidden="true"></i>
          <span class="originpractice-close-back"></span>
        </div>
      </div>

      <div class="originpractice-text">
        <p>（共51个练习，每次随机显示其中之一。读音顺序遵守字母表规则）</p>
        <br />
        <p>点击播放按钮听字母读音，然后按读音顺序点击下面每个原形字母并选择其在字首、字中、字尾的相应变形字母。</p>
      </div>

      <div class="originpractice-play">
        <div class="originpractice-alphas">
          <div class="w3-container w3-padding w3-col s3 m3 l4 originpractice-checkicon">
            <i class="fa fa-check-circle-o originpractice-checkicon" aria-hidden="true" ng-show="$ctrl.correct"></i>
          </div>
          <div class="w3-container w3-padding w3-col s6 m6 l4">
            <i class="listpractice-playIcon fa" ng-class="$ctrl.getPlayerIconClass()" aria-hidden="true" ng-click="$ctrl.playAudios()"></i>
          </div>
          <div class="w3-container w3-padding w3-col s3 m3 l4 originpractice-checkicon">
            <i class="fa fa-times-circle-o originpractice-checkicon" style="color:red" aria-hidden="true" ng-show="$ctrl.error"></i>
          </div>
        </div>
      </div>

      <div class="listpractice-alphas">
        <div ng-repeat="alpha in $ctrl.testAlphas" ng-click="$ctrl.selectAlpha($index)" ng-class="$ctrl.realAlphaClass">
          <div class="w3-margin listpractice-view">
            <div class="originpractice-num">{{::($index + 1)}}</div>
            <div ng-class="$ctrl.getAlphaClass(alpha)"></div>
          </div>
          <div ng-class="$ctrl.getAnswerAlphaClass($index)">
            <span class="variantpractice-opacity">{{$ctrl.getSelectText($index)}}</span>
          </div>
        </div>
      </div>

      <div class="originpractice-done">
        <button class="w3-margin w3-btn w3-teal" ng-click="$ctrl.checkAnswerClick()" ng-hide="$ctrl.correct">
          {{::$ctrl.langs.checkAnswer}}
        </button>
        <button class="w3-margin w3-btn w3-teal" ng-click="$ctrl.nextTestClick()" ng-show="$ctrl.correct">
          {{::$ctrl.langs.nextTest}}
        </button>
      </div>

    </div>
  </div>
</div>

<audio style="display: none">
  <source src="{{$ctrl.audio.mpeg}}" type="audio/mpeg">
  <source src="{{$ctrl.audio.ogg}}" type="audio/ogg"> {{::$ctrl.langs.notSupportHtml5Audio}}
</audio>

<variant-random data-jsondata="$ctrl.jsonData" data-subdata="$ctrl.subData"></variant-random>